// # Sidenote

.Sidenote

  // ## Sidenote-Context: mostly removing styles there
  &-Context
    display: inline
    color: inherit !important
    background-image: none !important
    text-shadow: none !important
    text-decoration: none !important

    @media (min-width: 820px)
      cursor: inherit
      // cursor: help // Looks not ok, should we use it?

      padding-left: 0.2em
      padding-right: 0.3em
      margin-left: -0.2em
      margin-right: -0.3em
      border-radius: 3px

    @media (min-width: 820px)
      &,
      & + ^[0]
        transition: background 0.2s 0.2s linear,
                    text-shadow 0.2s 0.2s linear

      &:target,
      &:target + ^[0]
        background: $color.highlight
        animation: target-fade 1s 1s
        animation-fill-mode: forwards
        text-shadow: none

      ^[0]-Wrapper:hover > &:not(:hover),
      &:hover + ^[0]
        background: rgba($color.highlight, 0.3)
        text-shadow: none

      ^[0]-Wrapper:hover > &:target:not(:hover),
      &:target:hover + ^[0]
        background: linear-gradient(rgba($color.highlight, 0.3), rgba($color.highlight, 0.3)) !important


    &::after
      // FIXME: Magic numbers
      content: counter(sidenote)
      position: relative
      top: -0.6*$size.base

      cursor: pointer

      display: inline-block

      padding: 0 1px
      // margin: 0 -0.7em 0 0 // was disabled by error

      font: 14px/1 $font.small
      font-size: 0.7*$size.base
      line-height: 1

      color: rgba($color.text, 0.6)

      .with-lonely-sidenote &
        content: "*"

    @media (max-width: 819px)
      cursor: pointer

      &:target
        outline: none
        position: relative
        z-index: 3
        background: $color.body
        border-radius: 0.5*$size.base 0.5*$size.base 0 0
        box-shadow: -0.5*$size.base 0 0 0 $color.body,
                     0.5*$size.base 0 0 0 $color.body,
                     0 0.5*$size.base 0 0.5*$size.base $color.body

        white-space: nowrap
        max-width: 100%
        overflow: hidden
        text-overflow: ellipsis

        &::before
          content: ''

          position: absolute
          top: -2*$size.base
          height: 2*$size.base
          width: 2*$size.base

          visibility: hidden

        & + ^[0]
          visibility: visible

  &-Misc
    display: none

  &-Wrapper
    display: inline
    counter-increment: sidenote

    @media (max-width: 819px)
      -webkit-animation: bugfix infinite 1s

  &-Close
    @media (max-width: 819px)
      display: none

      position: absolute
      position: fixed
      z-index: 1
      top: 0
      left: 0
      bottom: 0
      right: 0

      background: rgba(#000, 0.001) !important

    ^[0]-Context:target + ^[0] + &
      display: block


  // ## Sidenote itself
  &
    @media (max-width: 819px)
      visibility: hidden

      z-index: 2
      position: absolute
      left: 0.6*$size.base
      right: 0.6*$size.base

      padding: 1*$size.base
      margin-top: 1.8*$size.base

      background: $color.body
      box-shadow: 0 10px 10px -8px rgba($color.dark, 0.5),
                  0 0 0 2000px rgba($color.dark, 0.5)
      border-radius: 0.5*$size.base

    @media (min-width: 820px)
      position: relative
      float: right
      clear: right

      width: $size.sidebar - 4*$size.base
      padding: 0.61111*$size.base 1.5*$size.base
      margin: -4px -1*($size.sidebar + $size.base) 4px 0

      text-align: left

      font-family: $font.small
      font-size: $size.smalltext
      line-height: 1.25*$size.base

      color: inherit

      border-radius: 3px

      & em
        font-family: $font.small
        font-style: italic

      & a:hover
        text-shadow: -1px 0 $color.body, 1px 0 $color.body

      &::before
        content: counter(sidenote) ". "
        position: absolute
        left: 0.5*$size.base

        width: 1*$size.base

        text-align: right

        color: rgba($color.text, 0.6)

        .with-lonely-sidenote &
          content: "* "
