[build]
  publish = "out"
  command = "HUGO_BASEURL=$URL gulp build"

[build.environment]
  HUGO_VERSION = "0.54.0"

[context.production]
  command = "HUGO_BASEURL=$URL gulp build && npm run algolia"

[context.deploy-preview]
  command = "HUGO_BASEURL=$DEPLOY_PRIME_URL gulp build"
