{% capture trim_whitespaces %}
    {% assign demo_handles_result = demo_handles_input %}
    {% for demo in site.pages %}
        {% if demo.url contains '/demos/' %}
            {% capture demo_name %}{{ demo.url | remove:"/demos/" | remove:".html" }}{% endcapture %}
            {% capture demo_handle_what %}<p>[demo:{{ demo_name }}]</p>{% endcapture %}
            {% if demo_handles_result contains demo_handle_what %}
                {% if page.page_type != "feed" %}
                    {% if demo.injected == true %}
                        {% capture demo_handle_with %}
                            <div class="demo demo_injected {% if demo.seamless %}demo_seamless{% else %}figure{% endif %}" id="Demo_{{ demo_name }}">
                                {{ demo.content }}
                            </div>
                        {% endcapture %}
                    {% else %}
                        {% capture demo_handle_with %}
                            <div class="demo figure" id="Demo_{{ demo_name }}">
                                <iframe class="demo__frame" {% if demo.height %}style="height: {{ demo.height }}" {% else %}height="240" {% endif %}width="100%" src="{% if demo.iframe_url %}{{ demo.iframe_url }}{% else %}/demos/{{ demo_name }}.html{% endif %}"></iframe>
                            </div>
                        {% endcapture %}
                    {% endif %}
                {% else %}
                    {% capture demo_handle_with %}
                        <p>Look at the demo <a href="{{ site.production_url }}{% if demo_handles_link %}{{ demo_handles_link }}{% else %}{{ page.url }}{% endif %}/#Demo_{{ demo_name }}">embedded in the post</a>.</p>
                    {% endcapture %}
                {% endif %}
                {% capture demo_handles_result %}{{ demo_handles_result | replace_first:demo_handle_what,demo_handle_with }}{% endcapture %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endcapture %}
