{% capture trim_whitespaces %}
    {% assign categories_path = '' %}
    {% for item in page.categories %}
        {% capture get_filename_remove %}{{ item }}/{% endcapture %}
        {% capture get_filename_input %}{{ get_filename_input | remove:get_filename_remove }}{% endcapture %}
        {% unless site.flat_categories contains item %}
            {% capture categories_path %}{{ categories_path }}{{ item }}/{% endcapture %}
        {% endunless %}
    {% endfor %}
    {% capture get_filename_output %}{% unless get_filename_input == '/en/' or get_filename_input == '/index.html' %}_posts/{% endunless %}{{ categories_path }}{{ page.date | date: "%Y-%m-%d-" }}{% if get_filename_input == '/en/' %}index_{% endif %}{{ get_filename_input | remove:'/' | remove_first:'.html' }}{% unless get_filename_input == '/en/' or get_filename_input == '/index.html' %}.md{% else %}.html{% endunless %}{% endcapture %}
{% endcapture %}
