{% capture trim_whitespaces %}

{% assign counter = 0 %}
{% assign path = "" %}
{% for item in list_categories %}
    {% if item != 'en' %}
        {% capture counter %}{{ counter | plus:1 }}{% endcapture %}
        {% capture path %}{{ path | append:"../" }}{% endcapture %}
        {% capture list_categories_result %}{{ site.loc | map: "in" | map: lang }} <a class="link" href="{{ path }}">{{ site.loc | map: item | map: "_in_" | map: lang }}</a>{% endcapture %}
    {% endif %}
{% endfor %}

{% endcapture %}{{ list_categories_result }}
