{% unless published_time %}
    {% assign published_time = site.time %}
{% endunless %}

{% capture published_day %}{{ published_time | date: "%d" }}{% endcapture %}
{% capture published_month %}{{ published_time | date: "%B" }}{% endcapture %}
{% capture published_day_truncated %}{{ published_day | truncate:1,'' }}{% endcapture %}
{% capture published_day %}{% if published_day_truncated == "0" %}{{ published_day | remove:'0' }}{% else %}{{ published_day }}{% endif %}{% endcapture %}

{% if lang == "en" %}
    {{ published_time | date: "%B" }}
    {{ published_day }}
    {{ published_time | date: "%Y" }}
{% else %}
    {{ published_day }}
    {% case published_month %}
        {% when "January" %}января
        {% when "February" %}февраля
        {% when "March" %}марта
        {% when "April" %}апреля
        {% when "May" %}мая
        {% when "June" %}июня
        {% when "July" %}июля
        {% when "August" %}августа
        {% when "September" %}сентабря
        {% when "October" %}октября
        {% when "November" %}ноября
        {% when "December" %}декабря
    {% endcase %}
    {{ published_time | date: "%Y" }}
{% endif %}

{% assign published_time = site.time %}
