.Figure
  padding: .3em !important

  background: rgba(0,0,0,0.1)

  border-radius: 3px
  box-shadow: 0 0 0 1px rgba(0,0,0,.2)

  & a:hover,
  & a:focus
    text-decoration: underline
    text-shadow: none
    background-image: none
