.ArticleList {
  grid-column: full;
  grid-gap: var(--THEME_INDENT);
  grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr));
  grid-auto-flow: dense;
  padding: calc(2 * var(--THEME_INDENT)) var(--THEME_INDENT) var(--THEME_INDENT);
  --grid-column: auto;
  --ul-display: grid;
  --ul-item-content: none;
  --list-item-padding: 0;
  --text-indent: 0;
  --everything-shown: true;
}

 .ArticleList-Li:nth-child(n + 11) {
   display: var(--everything-shown, none);
 }

.ArticleList-Flag {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}

.ArticleList-Flag + .ArticleList {
  --everything-shown: initial;
}

.ArticleList-Flag:target + .ArticleList {
  --everything-shown: true;
}

.ArticleList-Flag:target + .ArticleList + p {
  --ArticleList-Flag: none;
}

.isShown-whenOnlyRecent {
  display: var(--ArticleList-Flag);
}

.isShown-whenShownAll {
  display: none var(--ArticleList-Flag, );
}

.ArticleList-Item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  font-size: calc(
    var(--priority) * var(--THEME_FONT_SIZE) +
    (1 - var(--priority)) * var(--THEME_FONT_SIZE--SMALL)
  );
  line-height: calc(
    var(--priority) * var(--THEME_LINE_HEIGHT) +
    (1 - var(--priority)) * var(--THEME_LINE_HEIGHT--SMALL)
  );
  --Metadata-text-align: center;
  --Metadata-margin-top: calc(var(--asides-padding-top) * (1 - var(--priority)));
  --Metadata-margin-bottom: calc(0.5rem + 0.5rem * var(--priority));
  --before: "";
  --h2-font-size: calc(
    var(--priority) * 2rem +
    (1 - var(--priority)) * 1.5rem
  );
  --h2-line-height: 2rem;
  --h2-margin-top: calc(var(--priority) * -0.15rem);
  --h2-margin-bottom: calc(var(--priority) * 1rem);
  --_hover: 0;
  --_transition: 0.2s;
}

.ArticleList-Item:after {
  padding-top: 2rem;
  margin-top: auto;
  opacity: calc(1 - 100 * var(--_hover));
}

.ArticleList-Item:hover {
  --_hover: 0.66;
}

.ArticleList-Item:focus-within {
  --_hover: 0.66;
}

.ArticleList-Link:hover {
  --_hover: 1;
  --_transition: 0;
}

.ArticleList-Link:focus {
  outline: none;
  --_hover: 2;
  --_transition: 0;
}

.ArticleList-Link::before {
  position: absolute;
  left: calc(-0.5 * var(--THEME_INDENT));
  right: calc(-0.5 * var(--THEME_INDENT));
  top: calc(1px - var(--THEME_INDENT));
  bottom: 0;
  z-index: 1;

  opacity: var(--_hover);
  box-shadow:
    0 1px 3px 1px var(--color),
    0 2px 7px -1px var(--color),
    0 -1px var(--THEME_BG);
  --color-a: calc(0.15 * var(--_hover));
  transition: var(--_transition) linear;
  transition-property: opacity, box-shadow;
}
