:root {
  --asides-counter: asides 9;
  --asides-padding-top: calc(0.5rem - 2px);
}

aside,
figcaption,
.Aside,
mastodon-post-info::part(aside) {
  --grid-column: aside;
  grid-row-start: var(--start);
  grid-row-end: span var(--span);
  align-self: var(--align, start);

  width: var(--initial-at-small, var(--aside-width)); /* There was min-width — why not just width? */

  counter-increment: asides;

  font: var(--THEME_FONT--SMALL);
  font-feature-settings: "lnum", "onum" 0;
  padding-top: calc(var(--at-large) * var(--asides-padding-top));
  --aside-margin-top: calc(var(--THEME_LINE_HEIGHT) * (var(--at-large) * var(--offset, 0) + var(--at-small) * 0.5));
  --aside-margin-x: calc(var(--at-small) * var(--THEME_INDENT));
  --aside-margin-bottom: calc(var(--at-small) * var(--THEME_LINE_HEIGHT));
  margin:
    var(--aside-margin-top)
    var(--aside-margin-x)
    var(--aside-margin-bottom);
  --text-indent: 0;
  --p-p-margin-top: 1.5em;
  --link-underline-offset: 0.4em;
}

aside:first-child,
figcaption:first-child,
.Aside:first-child {
  --asides-padding-top: 0;
}

.Aside {
  grid-column: aside;
}

figcaption {
  width: calc(var(--aside-width) - var(--h-gap));
  margin-right: var(--h-gap);
}

aside[style*='--align:end;'] {
  padding-bottom: calc(var(--at-large) * var(--asides-padding-top));
}

aside[style*='--sticky:'],
.aside[style*='--sticky:'],
.aside[style*='--sticky:'] + aside {
  position: var(--initial-at-small, sticky);
  top: var(--sticky, 0);
}

/* For subgrid substitute */
header::after,
footer::after {
  content: counter(asides);
  grid-column: aside;

  line-height: var(--aside-width);
  writing-mode: vertical-lr;
  word-wrap: break-word;

  height: 0;
  visibility: hidden;
  margin-left: calc(-1 * var(--aside-width));
  max-width: calc(2 * var(--aside-width));
}
