/* More precise color control etc. */
* {
  color: hsla(
    var(--color-h, 0),
    calc(var(--color-s, 0) * 1%),
    calc(var(--color-l, 0) * 1%),
    calc(var(--inherited-a, var(--color-a, 1)) + 0 / (1 - var(--color-a, 1)))
  );
  --color-a: 1;
}

:root {
  --color-h: var(--THEME_COLOR_H);
  --color-s: var(--THEME_COLOR_S);
  --color-l: var(--THEME_COLOR_L);
  --color-a: var(--THEME_COLOR_A);

  --inherit-custom-color: 0;
  --inherited-a: initial;
}
