/* Handling fancy first letters */
[data-text]:is(h1, h2, h3, h4, h5, h6)::first-letter {
  margin-left: var(--fletter-offset, -0.15em);
  font-feature-settings: var(--fletter-style, "ss01");
}

/* When the page is translated, remove all letter-specific adjustments as the `data-text` won’t be translated, and it is not guaranteed that the stylistic alternates would look good then. */
[data-text]:not(:lang(en)) {
  --fletter-style: "ss00" !important;
  --fletter-offset: 0 !important;
}

/* Using the `^=` with full text, as for at least one case (`Va`) we have to match on two first characters */
[data-text^='C'],
[data-text^='С'],
[data-text^='Э'] {
  --fletter-style: "ss02";
  --fletter-offset: -0.05em;
}
[data-text^='К'],
[data-text^='Т'] {
  --fletter-style: "ss04";
}

[data-text^='Ч'] {
  --fletter-offset: -0.2em;
}

[data-text^='А'],
[data-text^='A'],
[data-text^='Ф'],
[data-text^='Д'],
[data-text^='З'],
[data-text^='О'],
[data-text^='O'],
[data-text^='Ж'],
[data-text^='Я'],
[data-text^='Q'],
[data-text^='S'],
[data-text^='G'],
[data-text^='Z'] {
  --fletter-offset: -0.05em;
}

/* Kerning is not applied there, need to do manually */
[data-text^='Va'] {
  --fletter-offset: -0.11em;
}

