header,
footer,
main,
article {
  display: grid;
  grid-template: var(--grid);
  grid-gap: 0 var(--viewport-padding);
  --grid-column: content;

  width: auto;
  max-width: none;
  padding: 0;
  margin: 0;
}

article::after {
  content: "";
  grid-column: content;

  border-bottom: 1px solid;
  margin-top: 2rem;
  margin-bottom: -1px;

  color: var(--color);
  --color-a: 0.15;
}

* {
  grid-column: var(--grid-column);
}
