/* Links */
:root {
  --link-color: var(--THEME_LINK);
  --link-color--hover: var(--link-color);
  --link-color--visited: var(--THEME_VISITED);
  --link-underline-width: 1px;
  --link-underline-offset: 0.37em;
  --link-underline-color: hsla(
    var(--THEME_COLOR_H),
    var(--THEME_COLOR_S--P),
    var(--THEME_COLOR_L--P),
    var(--THEME_COLOR_A--LIGHT)
  );
  --link-underline-color--hover: currentColor;
  --link-underline-pattern-width: 16px;
  --link-text-shadow-color: var(--THEME_BG);

  /* Windows problems with %? */
  /* --link-underline-position: calc(50% + var(--link-underline-offset)) */
  --link-underline-position: bottom 24%;
}

a,
.Link {
  position: var(--link-position);
  z-index: var(--link-z-index);
  cursor: var(--link-cursor, pointer);
  color: var(--link-color);
  hyphens: none;
}

a::before,
.Link::before {
  content: var(--before);
}

a::after,
.Link::after {
  content: var(--after);
}

span {
  --underline: 0;
  --link-underline-position: bottom 5%;
}

a,
.Link {
  padding: var(--link-padding, 0.3em 0);
  margin: var(--link-margin);
  overflow-wrap: break-word;
  text-decoration: none;
}

a,
.Link,
span[style*='--underline:'],
:is(em,li)[tabindex='0'] {
  text-decoration: underline;
  text-decoration-thickness: var(--underline-width);
  text-decoration-color: var(--link-underline-color);
  text-underline-offset: 2px;
  text-decoration-skip-ink: auto;
  --underline-width: var(--link-underline-width);
  --time-color-a: invalid;
}

a[style*='--underline:'] {
  text-decoration-line: none;
}

span[style*='--underline:'] {
  text-decoration-thickness: inherit;
  text-decoration-color: inherit;
  text-decoration-style: inherit;
}

a,
.Link,
span {
  background-clip: content-box;
  --code-color: var(--link-color);
}

.Link:not(a),
.Link_pseudo,
a[href^='#'],
:is(em,li)[tabindex='0'] {
  text-decoration-style: dashed;
  --link-color--visited: var(--link-color);
}

a:visited {
  color: var(--link-color--visited);
  --code-color: var(--link-color--visited);
}

a:hover,
a:focus-visible,
.Link:hover,
.Link:focus-visible {
  --underline-width: calc(2 * var(--link-underline-width));
  --link-underline-color: var(--link-underline-color--hover);
  color: var(--link-color--hover);
  --code-color: var(--link-color--hover);
  z-index: var(--link-hover-z-index, var(--link-z-index));
}

summary.Link {
  width: max-content;
  max-width: calc(100% - var(--viewport-padding) * 2);
  background: none;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: var(--underline-width);
  text-underline-offset: 2px;
}
