:root {
  --ul-item-content: var(--THEME_LI_CONTENT);
  --ol-item-content: var(--THEME_LI_CONTENT--OL);
  --list-item-padding: var(--THEME_INDENT);
}

ol, ul {
  padding: 0;
  margin: 0;
  --list-item-content: var(--ul-item-content);
  --p-margin-top: 0;
}

ol {
  --list-item-content: var(--ol-item-content);
}

ul {
  display: var(--ul-display);
  grid-template-areas: var(--ul-grid);
  gap: var(--ul-gap);
}

li {
  padding: 0 0 0 var(--list-item-padding);
  list-style-type: none; /* Fixme: screenreaders would die out? */
  justify-self: var(--grid-position, var(--li-justify-self));
  grid-column: var(--grid-position, auto / span var(--initial-at-small, var(--span)));
  --priority: var(--at-small);
  --span: calc(var(--priority) * 2);
}

li::before {
  content: var(--list-item-content);

  position: absolute;

  width: var(--list-item-padding);
  margin-left: calc(-1*var(--list-item-padding));
  text-align: var(--list-marker-align);

  font-feature-settings: "lnum", "onum" 0;
}
