/* ================================= *\
   Sidenotes, sidelinks & highlights
\* ================================= */

/*
  Provides an API consisting of:

  1. `--sidenote-counters` to use at the `counters` prop on the top level.
  2. Components `Sidenote`, `Sidelink` & `Highlight`.

  TODO: describe the HTML structure for components and their individual API.
*/
:root {
  --sidenote-counters: sidenote sidenote-link;
}

/* Sidenotes stuff */
.Sidenote,
.Sidelink {
  position: relative;
  z-index: 1;

  display: inline-block;
  text-indent: 0;
}

.Highlight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  transition: background-color 0.2s 0.2s linear;
  counter-increment: var(--counter);
  pointer-events: none;
}

.Sidenote:not(:hover),
.Sidelink:not(:hover) {
  --highlight-hover: rgba(255, 255, 0, 0.3);
}

.Highlight:hover {
  background: var(--highlight-hover);
}

label[for$=-Anchor] {
  display: block;
}


.Highlight:hover + label[for$=-Anchor] {
  --link-text-shadow-color: transparent;
  --link-text-shadow-transition: 0s;
}
.Sidelink {
  --counter: sidenote-link;
  --link-underline-color: transparent;
  --link-underline-color--hover: transparent;
}

a[aria-hidden=true]:not([class]) {
  /* Maybe just reset lol? */
  display: inline;
  color: inherit;
  text-decoration: none;
}

a[href^='#'][aria-hidden=true]:not([class])::after {
  content: counter(sidenote-link);

  position: relative;
  top: -0.555rem;

  cursor: pointer;

  padding: 0 0 0 0.16em;

  font-size: 1rem;
  line-height: 1;

  color: rgba(0,0,0, 0.6);

  font-feature-settings: "smcp";
}

.Sidenote {
  --counter: sidenote;
}

label[for$=-Anchor] {
  padding-right: var(--h-gap);
}

p[role=note] {
  --asides-padding-top: 0;
}

.Highlight[id$=-Content]::before {
  content: counter(sidenote) ". ";

  position: absolute;
  top: calc(var(--at-large) * var(--asides-padding-top));
  left: -1.25rem;

  width: 1rem;

  text-align: right;
  color: rgba(0,0,0, 0.6);
  transition: opacity 0.2s 0.2s linear;

  opacity: var(--highlight-opacity, calc(1 - var(--at-large)));
}

.Highlight[id$=-Content]:hover,
.Sidenote:hover {
  --highlight-opacity: 1;
}
