.Summary {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-style: italic;
  margin-bottom: 2rem;

  --first-line-inset: 0;
  --second-line-inset: 0;
  --top-adjustment: 0;
  --top-adjustment-fx: 0;
  --bottom-adjustment: 0;
  --left-adjustment: -1.16;
  --right-adjustment: -0.222;

  --text-indent: calc(
    -1rem * var(--first-line-inset, 0)
    + 1rem * var(--second-line-inset, 0)
  );
  /* Using text-indent as Chrome does not understand shape-outside for the first-letter */
  text-indent: var(--text-indent);
}

.Summary::first-letter {
  float: left;
  font-size: 7rem;
  line-height: 1;
  font-style: normal;
  font-weight: 900;
  font-feature-settings: var(--fletter-style, "ss02");

  /* Chrome does not allow resetting text-indent, so using this to have same behavior in Safari & Chrome */
  --text-indent-compensation: -1 * var(--text-indent);
  margin-block-start: calc(
    -1.3333rem
    + 1rem * var(--top-adjustment)
    + 1rem * var(--top-adjustment-fx)
  );
  margin-block-end: calc(-1rem + 1rem * var(--bottom-adjustment));
  margin-inline-start: calc(
    var(--text-indent-compensation)
    + 1rem * var(--left-adjustment) * var(--at-large)
  );
  margin-inline-end: calc(
    1rem
    - 1rem * var(--second-line-inset)
    + 1rem * var(--right-adjustment)
  );

  /* Not opacity as it has a bug in Safari */
  color: hsla(
    var(--color-h, 0),
    calc(var(--color-s, 0) * 1%),
    calc(var(--color-l, 0) * 1%),
    0.85
  );
}

@media screen and (min--moz-device-pixel-ratio:0) {
  .Summary::first-letter {
    --text-indent-compensation: 0rem;
    --top-adjustment-fx: 0.36;
  }
  /* Nightly seem to have this particular issue fixed, so for now fix it via hiding it by a `:has()`, but might need to revisit in the future */
  .Summary:not(:has(#a#b))::first-letter {
    --top-adjustment-fx: unset;
  }
}

.Summary[data-fletter=A] {
  --first-line-inset: 1.5;
}
.Summary[data-fletter=A].with-space-after {
  --first-line-inset: 0;
}
.Summary[data-fletter=B] {
  --fletter-style: "ss03";
  --left-adjustment: -1.444;
}
.Summary[data-fletter=C] {
  --fletter-style: "ss01";
  --right-adjustment: -0.75;
}
.Summary[data-fletter=D] {
  --fletter-style: "ss03";
  --right-adjustment: -1;
}
.Summary[data-fletter=E] {
  --fletter-style: "ss03";
}
.Summary[data-fletter=F] {
  --fletter-style: "ss03";
  --bottom-adjustment: 0.5;
  --right-adjustment: -1;
}
.Summary[data-fletter=G] {
  --fletter-style: "ss03";
  --bottom-adjustment: 0.5;
}
.Summary[data-fletter=H] {
  --first-line-inset: 0.5;
}
.Summary[data-fletter=I] {
  --first-line-inset: 1.25;
}
.Summary[data-fletter=I].with-space-after {
  --first-line-inset: 0;
}
.Summary[data-fletter=J] {
  --bottom-adjustment: 0.75;
  --right-adjustment: -0.5;
}
.Summary[data-fletter=K] {
  --fletter-style: "ss02";
  --first-line-inset: 2.5;
  --right-adjustment: 1.5;
  --bottom-adjustment: 0.5;
}
/* .Summary[data-fletter=L] {} */
.Summary[data-fletter=M] {
  --first-line-inset: 0.5;
}
.Summary[data-fletter=N] {
  --fletter-style: "ss03";
  --right-adjustment: -0.5;
}
.Summary[data-fletter=O] {
  --fletter-style: "ss04";
  --right-adjustment: -1;
  --left-adjustment: -0.222;
}
.Summary[data-fletter=P] {
  --first-line-inset: 0.222;
  --second-line-inset: 3;
}
.Summary[data-fletter=Q] {
  --left-adjustment: -0.222;
  --first-line-inset: 1.5;
  --right-adjustment: 1.5;
  --bottom-adjustment: 0.5;
}
.Summary[data-fletter=R] {
  --first-line-inset: 2;
  --right-adjustment: 1.5;
  --bottom-adjustment: 0.5;
}
.Summary[data-fletter=S] {
  --fletter-style: "ss03";
  --right-adjustment: -1;
  --bottom-adjustment: 0.5;
}
.Summary[data-fletter=T] {
  --fletter-style: "ss03";
  --first-line-inset: 1;
}
.Summary[data-fletter=U] {
  --fletter-style: "ss01"; /* If not for Fx would use ss02 */
  --right-adjustment: -0.611;
}
.Summary[data-fletter=V] {
  --second-line-inset: 1;
  --right-adjustment: -1;
}
.Summary[data-fletter=W] {
  --right-adjustment: -2;
  --left-adjustment: -3.2;
}
.Summary[data-fletter=X] {
  --fletter-style: "ss01";
  --first-line-inset: 1;
}
.Summary[data-fletter=Y] {
  --right-adjustment: -2;
}
.Summary[data-fletter=Z] {
  --fletter-style: "ss01";
}

/* When the page is translated, remove all letter-specific adjustments */
.Summary:not(:lang(en)) {
  --first-line-inset: 0;
  --second-line-inset: 0;
  --top-adjustment: 0;
  --bottom-adjustment: 0;
  --left-adjustment: 0;
  --right-adjustment: 0;
}
