.PrevNext
  display: flex
  flex-wrap: wrap
  align-items: baseline

  font-size: $size.base

  padding-top: 1.5*$size.base

  @media (max-width: 820px)
    padding-top: $size.base
    line-height: $size.base

  & .Link_prev
    padding-left: 1.5*$size.base
    margin-left: -1.5*$size.base

    &:before
      content: "← "

  & .Link_next
    padding-right: 1.5*$size.base
    margin-right: -1.5*$size.base
    margin-left: auto

    @media (max-width: 820px)
      margin-left: 0

    &:after
      content: " →"
