.PrevNext
  display: flex
  flex-wrap: wrap
  align-items: baseline

  font-size: $size.base

  padding-top: 1.5*$size.base

  & .Link_prev
    padding-left: 0.5*$size.base
    padding-left: 2.5vw
    margin-left: -0.5*$size.base
    margin-left: -2.5vw

    &:before
      content: "← "

  & .Link_next
    padding-right: 0.5*$size.base
    padding-right: 2.5vw
    margin-right: -0.5*$size.base
    margin-right: -2.5vw
    margin-left: auto

    &:after
      content: " →"
