@keyframes target-fade
  from
    background-color: rgba(yellow, 0.8)

  to
    background-color: rgba(yellow, 0.15)

/* Fix for +/~ selectors in webkit */
unquote("@-webkit-keyframes bugfix { from { padding: 0 } to { padding: 0 } }")
