.Heading
  // &-Content
  //   transform-origin: 50% 50%

  .Main > &
    padding-left: $size.indent
    padding-right: $size.indent

  & > .shy
    display: none

  &_table
    display: flex
    align-items: baseline

    padding-right: 0 !important
    padding-left: 0 !important
    padding-top: 1*$size.base
    margin-top: 2*$size.base

    text-align: left

    & em
      font-size: $size.text
      margin-left: auto