{{- $file := .Get "src" -}}
{{- $src := (print "/" .Page.Params.srcPath $file) -}}
{{- $id := (replace $file ".html" "") -}}
{{- $id = (replace $id "examples/" "") -}}
<figure
  {{- if .Get "style" -}}
    {{/**/}} style="{{ print (.Get "style") | safeCSS }}"
  {{- end -}}
  {{- if .Inner -}}
    {{/**/}} aria-labelledby="Label-{{ $id }}"
  {{- end -}}
>
  {{- if .Get "screenshot" -}}
    {{- $alt := "Screenshot" -}}
    {{- if .Get "alt" -}}
      {{- $alt = .Get "alt" -}}
    {{- end -}}

    <input class="Figure-Toggle" type="checkbox" id="Toggle-{{ $id }}" />
    <div class="Figure-Demo">
      {{- $src  | readFile | safeHTML -}}
    </div>
    {{- if .Get "video" -}}
      <video class="Figure-Screenshot" controls muted playsinline preload="none" poster="{{ replace $file ".html" ".jpg" }}" width="1474" height="310"><source src="{{ replace $file ".html" ".mp4" }}" type="video/mp4"></video>
    {{- else -}}
      <img class="Figure-Screenshot" src="{{ replace $file ".html" ".png" }}" alt="{{$alt}}" title="{{$alt}}" />
    {{- end -}}

  {{- else -}}

    {{- if .Get "iframe" -}}
      {{- if eq (.Get "iframe") "true" -}}
        <iframe
          src="/demos/{{ .Page.Slug }}/{{ .Get "src" }}"
          style="height: {{ .Get "height" }}"
        ></iframe>
      {{- else -}}
        <iframe
          src="{{ .Get "iframe" }}"
          style="height: {{ .Get "height" }}"
        ></iframe>
      {{- end -}}
    {{- else -}}
      <div class="Figure-Demo">
        {{- $src  | readFile | safeHTML -}}
      </div>
    {{- end -}}
    {{- .Inner | markdownify -}}
  {{- end -}}

</figure>
{{- if or (.Get "screenshot") (.Inner) -}}
  <aside style="--offset: 1;{{- if .Get "span" -}}--span: {{ .Get "span" }}{{- end  -}}">
    {{- if .Get "screenshot" -}}
      <p>
        <label class="Link Figure-Toggler" for="Toggle-{{ $id }}">
          Toggle to a <span class="Figure-Toggler-Screenshot">{{- if .Get "video" -}}video{{- else -}}screenshot{{- end -}}</span><span class="Figure-Toggler-Demo">live example</span>
        </label>
      </p>
    {{- end  -}}
    {{- if .Inner -}}
      <p id="Label-{{ $id }}">{{- .Inner | markdownify -}}</p>
    {{- end  -}}
  </aside>
{{- end -}}
