<p role="note" class="Sidenote" id="{{ .Get "id" }}" {{/**/ -}}
style="{{- /**/ -}}
  --sidenote:--{{- .Get "id" -}};{{- /**/ -}}
  {{- with .Get "offset" }}--offset:{{.}};{{ end -}}
  {{- with .Get "span" }}--span:{{.}};{{ end -}}
  {{- with .Get "align" }}--align:{{.}};{{ end -}}
  {{- with .Get "start" }}--start:{{.}};{{ end -}}
"
{{- /**/ -}}>
  <span class="visually-hidden">Side note: </span>
  {{- .Inner | markdownify -}}
  {{- /**/}} <a href="#{{ .Get "id" }}-Context" class="visually-hidden">Jump to this sidenote’s context.</a>
</p>
