// # LiquidLayout

.LiquidLayout
  +at-not-lowest()
    margin: 0 auto

    .Page.without-sidebar &
      max-width: $size.content

    .Page:not(.without-sidebar) &
      max-width: $size.content + 2*$size.sidebar

  &-Content
    .Page:not(.without-sidebar) &
      position: relative
      counter-reset: sidenote

      max-width: $size.content

      +at-not-lowest()
        margin: 0 $size.sidebar 0 auto
