img
  max-width: 100%
  height: auto
  border: 0

  p > &:only-child
    display: block
    margin: 0 auto 2*$size.base

    p + &
      margin-top: 2*$size.base

::selection
  text-shadow: none !important
  background: #B1D2FB
