<!-- Make into a filter, so it would be possible to show all articles etc. -->
{{- $context := . -}}{{- if .context -}}{{- $context = .context -}}{{- end -}}
{{- $onlyRecent := .onlyRecent -}}
{{- $isTagsPage := eq "asd" "taxonomyTerm" -}}

<h2 class="p-name visually-hidden">{{ i18n "allArticles" }}</h2>
{{- if $onlyRecent -}}<span class="ArticleList-Flag" id="Everything"></span>{{- end -}}
<ul class="ArticleList" id="Articles">
  <!-- Ranges through content/post/*.md -->
  {{- $count := 0 -}}
  {{- range .data.Pages -}}
    {{- $langCheck := or $isTagsPage (eq .Site.Params.languageCode .Params.lang) -}}
    {{- $typeCheck := or $isTagsPage (eq .Params.type "post") -}}
    {{- if and .Title $langCheck $typeCheck (eq .Draft false) -}}
      {{ $count = add $count 1 }}
      <li class="ArticleList-Li"{{ if and (le $count 2) (not $isTagsPage) }} style="--priority: 1;"{{ end }}>
        <article class="ArticleList-Item h-entry">
          <h2 class="p-name">{{- /**/ -}}
            <a class="ArticleList-Link u-url u-uid" href="{{ .Permalink }}" style="--view-name: {{ .Title | replaceRE "[^A-Za-z]+" "" }}-header">{{ .Title }}</a>
            {{- if $isTagsPage }} ({{ $context.Site.Taxonomies.tags.Count .Title }}){{ end -}}
          </h2>
          <p class="Metadata Published">
            {{ if $isTagsPage }}{{ i18n "lastPost" }}: {{ end }}<span style="--view-name: {{ .Title | replaceRE "[^A-Za-z]+" "" }}-published">{{ partial "readableDate.html" . }}</span>{{ partial "taglist.html" . }}
          </p>
          {{- if .Params.summary -}}
            <p class="p-summary" style="--view-name: {{ .Title | replaceRE "[^A-Za-z]+" "" }}-summary">{{ .Params.summary | markdownify }}</p>
          {{- end -}}
        </article>
      </li>
    {{- end -}}
  {{- end -}}
</ul>
{{- if $onlyRecent -}}
  <p><strong class="isShown-whenOnlyRecent">{{ i18n "recentShown" }}</strong><strong class="isShown-whenShownAll">{{ i18n "everythingShown" }}</strong>. <a href="#Everything" class="isShown-whenOnlyRecent Link Link_pseudo">{{ i18n "showEverything" }}</a><a href="#Articles" class="isShown-whenShownAll Link Link_pseudo">{{ i18n "showOnlyRecent" }}</a>.</p>
  <hr />
{{- end -}}
