{{ $latest_path := printf "https://blog.kizu.dev/latest.json?date=%s" (now.Format "2006-01-02") }}

{{ $latest := getJSON $latest_path }}

<ul class="ArticleList-Blog">
  {{- range $latest -}}
  {{- $date := .pubDate | time -}}
  {{- if eq ($date.Format "2006") (now.Format "2006") -}}
    {{- $date = $date.Format "January 2" -}}
  {{- else -}}
    {{- $date = $date.Format "January 2, 2006" -}}
  {{- end -}}

  <li>
    <a href="{{ .url }}">{{ .title }}</a>
    —
    {{ $date }}
  </li>
  {{- end -}}
</ul>
