{{- $Page := .context -}}
{{- if ne $Page.Kind "home" -}}
  <header{{ if eq .a11y "true" }} style="--invisible: 1;"{{ else }} aria-hidden="true"{{ end }}>
    <nav>
      <ul>
        <li style="--grid-position: start;"><a href="/{{ $Page.Site.Params.languagePrefix }}" title="{{ i18n "backToMain" }}">{{ i18n "titleName" }}</a></p></li>
        {{- if eq $Page.Params.type "post" -}}
          <li style="--grid-position: end;">
            {{ partial "readableDate.html" $Page }}
          </li>
        {{- end -}}
      </ul>
    </nav>
  </header>
{{- end -}}
