{{- $Page := .context -}}
{{- $tabindex := cond (eq .a11y "true") -1 1 -}}
{{- if ne $Page.Kind "home" -}}
  <header{{ if eq .a11y "true" }} style="--invisible: 1;"{{ else }} aria-hidden="true"{{ end }}>
    <nav>
      <ul>
        <li style="--grid-position: start;"><a href="/{{ $Page.Site.Params.languagePrefix }}" title="{{ i18n "backToMain" }}" tabindex="{{ $tabindex }}"{{ if eq .a11y "true" }}{{else}} style="--view-name: full-name"{{ end }}>{{ i18n "titleName" }}</a> {{ partial "searchButton.html" (dict "context" $Page "tabindex" $tabindex "position" "header") }}</li>
        {{- if eq $Page.Params.type "post" -}}
          <li style="--grid-position: end;">
            {{- if eq $Page.Params.draft true -}}
              {{- i18n "draft" }}
            {{- else -}}
              <span{{ if eq .a11y "true" }}{{else}} style="--view-name: {{ $Page.Title | replaceRE "[^A-Za-z]+" "" }}-published"{{ end }}>{{ partial "readableDate.html" $Page }}</span>
            {{- end -}}
          </li>
        {{- end -}}
      </ul>
    </nav>
    {{- if and (eq .a11y "true") (not (findRE "/search/$" $Page.Permalink)) -}}
      {{- partial "search.html" . -}}
    {{- end -}}
  </header>
{{- end -}}
