{{- $scripts := resources.Get "j/scripts.js" | resources.Fingerprint "md5" -}}
{{- $font_regular := resources.Get "s/21Cent-Regular.woff2" | resources.Fingerprint "md5" -}}
{{- $font_black := resources.Get "s/21Cent-Black.woff2" | resources.Fingerprint "md5" -}}
{{- $font_italic := resources.Get "s/21Cent-Italic.woff2" | resources.Fingerprint "md5" -}}
{{- $font_bold := resources.Get "s/21Cent-Bold.woff2" | resources.Fingerprint "md5" -}}
{{- $font_regular_cyr := resources.Get "s/21Cent-Regular_cyrillic.woff2" | resources.Fingerprint "md5" -}}
{{- $font_black_cyr := resources.Get "s/21Cent-Black_cyrillic.woff2" | resources.Fingerprint "md5" -}}
{{- $font_italic_cyr := resources.Get "s/21Cent-Italic_cyrillic.woff2" | resources.Fingerprint "md5" -}}
{{- $font_bold_cyr := resources.Get "s/21Cent-Bold_cyrillic.woff2" | resources.Fingerprint "md5" -}}
{{- $styles := resources.Get "s/style.css" | resources.ExecuteAsTemplate "s/style.css" (dict "font_regular" $font_regular.RelPermalink "font_black" $font_black.RelPermalink "font_bold" $font_bold.RelPermalink "font_italic" $font_italic.RelPermalink "font_regular_cyr" $font_regular_cyr.RelPermalink "font_black_cyr" $font_black_cyr.RelPermalink "font_bold_cyr" $font_bold_cyr.RelPermalink "font_italic_cyr" $font_italic_cyr.RelPermalink) | resources.Fingerprint "md5" -}}

{{- $type := .Params.type -}}
{{- if eq .Page.Kind "home" -}}
  {{- $type = "home" -}}
{{- end -}}

<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}" class="Page Page_type_{{$type}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{{- partial "layout_parts/doc_title.html" . -}}</title>
    <meta name="description" content="
      {{- if .Params.summary -}}
        {{ .Params.summary }}
      {{- else -}}
        {{ i18n "defaultDescription" }}
      {{- end -}}
    " />

    <script>document.documentElement.classList.add("withJS")</script>

    <link rel="preload" as="font" type="font/woff2" href="{{ $font_regular.RelPermalink }}" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="{{ $font_black.RelPermalink }}" crossorigin />
    {{ if or (eq .Site.Params.languageCode "ru") (eq $type "home") -}}
    <link rel="preload" as="font" type="font/woff2" href="{{ $font_regular_cyr.RelPermalink }}" crossorigin />
    {{ end -}}
    {{ if eq .Site.Params.languageCode "ru" -}}
    <link rel="preload" as="font" type="font/woff2" href="{{ $font_black_cyr.RelPermalink }}" crossorigin />
    {{ end -}}
    <link rel="preload" as="style" href="{{ $styles.RelPermalink }}" />
    <link rel="preload" as="font" type="font/woff2" href="{{ $font_italic.RelPermalink }}" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="{{ $font_bold.RelPermalink }}" crossorigin />
    {{- if eq .Site.Params.languageCode "ru" -}}
    <link rel="preload" as="font" type="font/woff2" href="{{ $font_italic_cyr.RelPermalink }}" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="{{ $font_bold_cyr.RelPermalink }}" crossorigin />
    {{- end }}
    <link rel="preload" as="script" href="{{ $scripts.RelPermalink }}" />

    <link rel="preconnect dns-prefetch" href="https://hello.myfonts.net" crossorigin="anonymous" />

    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    <script src="{{ $scripts.RelPermalink }}" defer></script>

    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ i18n "feedLink" }}" />
    {{- if eq .Page.Kind "home" }}
    <link rel="alternate" hreflang="en" href="https://kizu.dev/" />
    <link rel="alternate" hreflang="ru" href="https://kizu.dev/ru/" />
    {{- else -}}
      {{- $origLang := .Lang -}}
      {{- $permalink := .Permalink -}}
      {{- range .Translations -}}{{- if eq .Params.lang .Lang }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
    <link rel="alternate" hreflang="{{ $origLang }}" href="{{ $permalink }}">
      {{- end -}}{{- end -}}
    {{- end }}
    <script defer data-domain="kizu.dev" src="https://plausible.io/js/script.js"></script>
  </head>
  <body aria-live="polite">
    <div class="Root">
      {{- partial "layout_parts/root_layout.html" (dict "context" .) -}}
    </div>
  </body>
</html>
