<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ block "title" . }}
      {{- .Site.Title -}}
    {{ end }}</title>
    <link rel="stylesheet" href="/s/style.css">
  </head>
  <body>
    <main>
      {{- block "main" . -}}{{- end -}}
    </main>
    <header><!-- Goes after main for ~reasons~ -->
      {{- block "header" . -}}
        <h1>{{ i18n "titleName" }}</h1>
      {{- end -}}
    </header>
    <footer>
      {{- block "footer" . -}}{{- end -}}
      <p role="contentinfo">
        <a href="/en/">© {{ now.Format "2006"}} {{ i18n "titleName" }}.</a>
        <a href="https://twitter.com/kizmarh">Follow me on twitter!</a>
      </p>
    </footer>
    <script src="/j/prism.js"></script>
  </body>
</html>
