{{- define "title" -}}
  {{- .Title -}}
{{- end -}}
{{- define "header" -}}
  <nav>
    <ul>
      <li><a href="/{{ .Site.Params.languagePrefix }}" title="{{ i18n "backToMain" }}">{{ i18n "titleName" }}</a></p></li>
      {{- if .Page.Params.published -}}
        <li>{{ .Page.Params.published }}</li>
      {{- else -}}
        <li><time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "2006-01-02"}}</time></li>
      {{- end -}}
    </ul>
  </nav>
{{- end -}}
{{- define "main" -}}
  {{- partial "handleContent.html" (dict "context" . "input" (print "<h1>" .Title "</h1>")) -}}

  {{- range .Translations -}}{{- if eq .Params.lang .Lang -}}
    <aside style="--align: center">
      <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}</a>
    </aside>
  {{- end -}}{{- end -}}

  {{- partial "handleContent.html" (dict "context" . "input" .Content) -}}
{{- end -}}

{{- define "footer" -}}
  {{- partial "getPrevNext.html" . -}}
  {{- $prev := $.Scratch.Get "prevPage" -}}
  {{- $next := $.Scratch.Get "nextPage" -}}
  {{- if or $prev $next -}}
    <ul>
      {{- if $prev -}}
        <li><a href="{{$prev.Permalink}}" style="--underline: 0; --before: '← '"><span style="--underline: 1;">{{$prev.Title}}</span></a></li>
      {{- end -}}
      {{- if $next -}}
        <li><a href="{{$next.Permalink}}" style="--underline: 0; --after: ' →'"><span style="--underline: 1;">{{$next.Title}}</span></a></li>
      {{- end -}}
    </ul>
  {{- end -}}
{{- end -}}
