use('../../../node_modules/stylobuild')

$styl_src = '../../styl'

@import $styl_src + '/css/prism.css'

html,
body
  padding: 0
  margin: 0

.debug
  box-sizing: border-box
  width: 100%
  padding: 1em 2em
  border: 2px solid

  & > * > tr > th,
  & > * > tr > td
    text-align: left
