// # kizu.ru styles
//
// ## TOC
//
// - Uses and imports
// - Settings
// - Requires


// ## Uses and imports
$node_modules_src = '../../../node_modules'
$styl_src = '../../styl'

use($node_modules_src + '/stylobuild', {
  minifier: 'csswring'
})

@import $styl_src + '/fonts/regular'
@import $styl_src + '/css/prism.css'
@import $styl_src + '/keyframes'


// ## Settings
$size = {}
$size['base'] = 18px           // ex rem
$size['text'] = 23px           // ex body size
$size['smalltext'] = 16px      // ex 0.89*rem
$size['codetext'] =  0.87em    // should be smaller than the main text anywhere
$size['footer'] =    8 * $size.base // ex footer_size
$size['header'] =    6 * $size.base // ex header_size
$size['page_min'] = 22 * $size.base
$size['content'] =  42 * $size.base
$size['sidebar'] =  15 * $size.base
$size['indent'] =    2 * $size.base

$color = {}
$color['dark'] = #25220E // ex dark
$color['white'] = #FFF
$color['body'] = #F8FCF9 // ex body_bg
$color['text'] = rgba($color.dark, 0.92) // ex body_text
$color['link'] = #0985CE // ex body_link
$color['visited'] = #8C64B4 // ex body_link_visited
$color['distant'] = blend(rgba($color.dark, 0.05), $color.body) // ex distant_bg
$color['misc'] = rgba($color.dark, 0.62)
$color['distant_text'] = rgba($color.dark, 0.48)
$color['highlight'] = rgba(yellow, 0.8)

$font = {}
$font['regular'] = '21Cent-Regular', Georgia, serif
$font['small'] = Helvetica Neue, Arial, sans-serif

$z-index = {
  below: -9,
  ground: 1,
  above:  9
}


// ## Debug stuff
@require $styl_src + '/debug'

// ## Generic stuff
@require $styl_src + '/generic/**/*.styl'

// ## Main Blocks
@require $styl_src + '/blocks/**/*.styl'

