---
layout: default
page_type: post
---
{% include setup.md %}
<article class="main{% if sidenotes_count == 0 %} content{% endif %}" role="main">
    {% if sidenotes_count > 0 or page.ensure_sidenote_layout %}<div class="liquid-wrapper{% if sidenotes_count == 1 %} with-lonely-sidenote{% endif %}"><div class="liquid-content content">{% endif %}
    <header>{% if page.invisible %}<p style="color: red;"><strong>This page is a draft, it's not published yet, so please don't share links to it to anyone, ok?</strong></p>{% endif %}{% capture processed_title_hanged %}^^^BEGIN{{ processed_title }}{% endcapture %}{% assign processed_title_hanged = processed_title_hanged | replace:'^^^BEGIN«','^^^BEGIN<span class="hanger">«</span>' %}{% assign processed_title_hanged = processed_title_hanged | replace:'^^^BEGIN“','^^^BEGIN<span class="hanger">“</span>' %}{% assign processed_title_hanged = processed_title_hanged | remove:'^^^BEGIN' %}
        <h1>{{ processed_title_hanged }}</h1>
    </header>
    <!-- Move those things to content_handles or something like that -->
    {% capture link_handles_input %}{{ processed_content }}{% endcapture %}{% include link_handles.html %}
    {% capture demo_handles_input %}{{ link_handles_result }}{% endcapture %}{% include demo_handles.html %}

    <!-- Add anchors to headers with IDs -->
    {% capture lolcache %}
        {% assign final_content = demo_handles_result %}
        {% assign content_headers = demo_handles_result | split:'<h' %}
        {% for content_header in content_headers offset:1 %}
            {% assign substr_input = content_header %}
            {% assign substr_index = 0 %}
            {% assign substr_length = 4 %}
            {% include tenkan/substr.md %}

            {% assign lolheaders = "2 id,3 id,4 id,5 id,6 id" | split:',' %}
            {% if lolheaders contains substr_result %}
                {% assign header_id = content_header | split:'>' | first %}
                {% assign thing_to_trim = header_id | truncate:6,'' %}
                {% assign header_id = header_id | remove_first:thing_to_trim | remove:'"' %}
                {% capture what_to_replace %}<h{{ thing_to_trim }}{{ header_id }}">{% endcapture %}
                {% capture replace_with %}{{ what_to_replace }}<a class="header-anchor" title="{{ site.data.loc | map: 'link_to_part' | map: lang }}" href="#{{ header_id }}"></a>{% endcapture %}
                {% assign final_content = final_content | replace_first:what_to_replace,replace_with %}
            {% endif %}
        {% endfor %}
    {% endcapture %}
    {{ final_content }}

    {% if page.thanks_to %}{% capture thanks_to %}{:.thanks-to}
{{ site.data.loc | map: "thanks_to" | map: lang }} {% for thanks in page.thanks_to %}{% if forloop.index0 > 0 %}, {% endif %}{{ thanks }}{% endfor %}.
{% endcapture %}{% assign link_handles_input = thanks_to | markdownify %}{% include link_handles.html %}{% assign thanks_to = link_handles_result %}{% endif %}

    {% if page.date %}<p class="published">
        {% if page.invisible %}{{ site.data.loc | map: "drafted" | map: lang }}{% else %}{{ site.data.loc | map: "published" | map: lang }}{% endif %} {% assign published_time = page.date %}{% include published_format.html %}{% assign list_categories = page.categories %}{% include list_categories.html %}.
        {% if thanks_to %}{{ thanks_to | markdownify | remove:'<p class="thanks-to">' | remove:'</p>' }}{% endif %}
    </p>{% else %}{% if thanks_to %}{{ thanks_to | markdownify }}{% endif %}{% endif %}
    <aside class="feedback">
        {% capture feeback_title %}{{ site.data.loc | map: 'feedback_for' | map: lang }} {{ site.data.loc | map: 'laquo' | map: lang }}{{ processed_title }}{{ site.data.loc | map: 'raquo' | map: lang }}{% endcapture %}
        {{ site.data.loc | map: "feedback_text1" | map: lang }} <a class="link" href="https://github.com/kizu/kizu.github.com/issues/new?title={{ feeback_title | cgi_escape }}">{{ site.data.loc | map: "feedback_issue" | map: lang }}</a> {{ site.data.loc | map: "feedback_text2" | map: lang }} <a class="link" href="http://edit.kizu.ru/#{{ site.github_repo }}/edit/master/{{ page.path }}">{{ site.data.loc | map: "feedback_edit" | map: lang }}</a> {{ site.data.loc | map: "feedback_text3" | map: lang }} prose.io.
    </aside>
    {% if sidenotes_count > 0 or page.ensure_sidenote_layout %}</div></div>{% endif %}
</article>
