@import 'font_regular'
@import '../stylobate/stylus/stylobate'

// rem! as we can't redefine it in Stylus, we can use the var for it.
//   Can be used as `2*rem` — almost like normal units, but with asteriks.
//   Also, it would fallback to pixels in IE automagically.
rem_px = 18px
rem = 1rem
rem = rem_px if ie

$dark = #25220E

$body_bg = #FBFAF4
$body_text = rgba($dark,.92)
$body_link = #0883C9

$distant_bg = blend(rgba($dark,.05),$body_bg)

$header_size = 6*rem
$footer_size = 6*rem


// Layout etc.
html
  padding: 0
  margin: 0
  overflow-y: scroll

  text-align: center

  font-size: 1*rem_px
  color: $body_text
  text-shadow: 0 1px #FFF
  background: $distant_bg

  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  text-rendering: optimizelegibility
  -webkit-font-smoothing: subpixel-antialiased

body
  position: relative
  z-index: 1

  min-width: 26*rem
  font: 23px/2*rem 'Cent-Regular21', Georgia, serif
  padding: $header_size 0 $footer_size
  margin: 0

body:before,
body:after
  content: ""
  display: table
  clear: both


.main
  position: relative
  z-index: 9

  padding: 3*rem 1.5em
  padding: 3*rem 5vw

  background: $body_bg
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.9), 0 0 0 1px rgba($dark,0.05), 0 0 40px -5px rgba($dark,0.3)

  // Setting all those things in a list so we could intrude there.
  & > header,
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > p,
  & > ul,
  & > ol,
  & > pre,
  & > dl{",h1.title"}
    width: 49*rem
    max-width: 100%
    margin-left: auto
    margin-right: auto

    text-align: left

  & > table
    display: inline-block

.main > header
  position: relative

.main header h1
  padding-bottom: 1em

.header
  position: absolute
  position: fixed
  top: 0
  right: 0
  left: 0
  height: $header_size
  padding: 0 1.5*rem
  padding: 0 5vw

  white-space: nowrap

  background: $distant_bg


.title
  padding-top: 1.5*rem
  text-indent: -0.3*rem

  font-size: 3.5*rem

.title A:not(:hover)
  color: rgba($dark,.48)


.footer
  position: absolute
  position: fixed
  right: 0
  bottom: 0
  left: 0
  height: $footer_size

  background: $distant_bg

.footer .prevnext
  overflow: hidden

  padding-bottom: 1*rem

  font-size: 1*rem

.footer .link_prev,
.footer .link_next
  padding-right: 1*rem
  padding-left: 1*rem

.footer .link_prev
  float: left

  &:before
    content: "← "

.footer .link_next
  float: right

  &:after
    content: " →"

.date,
.breadcrumbs
  position: absolute
  top: -3*rem
  right: 0

  padding: 0 0.5*rem

  font-size: 1*rem

  color: rgba($dark, 0.3)

.breadcrumbs
  left: -1.4*rem
  right: auto

  & > A:first-child:before
    content: "↑"

    display: inline-block

    padding-left: 0.5*rem
    padding-right: 0.5*rem

    margin: -.6em 0 0 -0.5*rem

    vertical-align: middle

    font: .9em/1 Arial, sans-serif

  & > A:not(:hover)
    color: rgba($dark,.48)

// Links
A
  padding: .3em 0 .287em

  cursor: pointer

  color: $body_link
  text-decoration: none

A:hover
  color: $body_link

  text-shadow: -1px 0 $body_bg, 1px 0 $body_bg, -2px -1px $body_bg, 2px -1px $body_bg,
                0 -1px $body_bg, 0 -2px $body_bg, 0 -3px $body_bg, 0 -4px $body_bg, 0 -5px $body_bg, 0 -6px $body_bg

  background: linear-gradient($body_link, $body_link 1px, rgba(255,255,255,0.9) 1px, rgba(255,255,255,0.9) 2px, transparent 2px) repeat-x
  background-size: 1px .44em
  // background-position: -9px 1.08em
  background-position: -9px 100%

  .title &
    background-image: linear-gradient($body_link, $body_link 2px, rgba(255,255,255,.9) 2px, rgba(255,255,255,.9) 3px, transparent 3px)
    background-size: 1px .47em
    text-shadow: 0 1px rgba(255,255,255,.9), -2px 0 $distant_bg, 2px 0 $distant_bg

  .header &,
  .footer &
    background-size: 1px .45em
    text-shadow: -1px 0 $distant_bg, 1px 0 $distant_bg, -2px -1px $distant_bg, 2px -1px $distant_bg,
                  0 -1px $distant_bg, 0 -2px $distant_bg, 0 -3px $distant_bg, 0 -4px $distant_bg, 0 -5px $distant_bg, 0 -6px $distant_bg


.gap_narrow
  text-shadow: -1px 0 $body_bg, 1px 0 $body_bg, -2px 0 $body_bg, 2px 0 $body_bg, -3px 0 $body_bg, 3px 0 $body_bg

::selection
  text-shadow: none !important
  background: #B1D2FB


// Awfully useful wrapper link (also, all pseudo-links are made as wrappers)
.link_wrapper
  white-space: nowrap // Would be a class for multiline links

.link_wrapper .ico
  margin-top: -4px

  vertical-align: middle

.link_wrapper:hover
  background-repeat: no-repeat


.link_wrapper:hover .link__inner
  padding-top: inherit
  padding-bottom: inherit
  background: inherit
  background-repeat: repeat-x


// Pseudo-link (can be only in wrapper)
.link_pseudo,
.link_pseudo.link_wrapper .link__inner
  text-decoration: none
  border-bottom: 1px dotted

.link_pseudo.link_wrapper
  border-bottom: 0


// Text-like link
.link_text
  color: inherit


// Copyrights block
.copy
  font-size: 18px
  color: rgba($dark,.62)

.feedback
  box-shadow: inset 0 1px 0 rgba($dark, 0.2)

  padding-top: 2*rem

  margin: 4*rem -1.5*rem 0
  margin: 4*rem -5vw 0

.feedback__header
  font-size: 1.5*rem

.feedback__content
  display: none

.feedback:target > .feedback__content
  display: block


// Typography
P,
UL,
OL,
DL,
BLOCKQUOTE,
HR,
CODE,
PRE,
TABLE
  padding: 0
  margin: 0 0 2*rem

LI,
LI > P
  padding: 0
  margin: 0 0 su

h1,
H2,
H3,
H4,
H5,
H6
  padding: 0
  margin: 0

  line-height: 1
  font-weight: normal
  word-wrap: break-word

H1
  position: relative
  font-size: 4*rem
  padding-top: 1*rem
  margin-left: -0.3*rem

H2
  position: relative
  font-size: 3*rem

H3
  font-size: 2*rem
  padding-top: 1*rem
  padding-bottom: 1*rem
H4,
H5,
H6
  font-size: 1*rem
  padding-bottom: 1*rem

@media (max-width: 516px)
  H1,
  H1.title
    font-size: 3rem
  H2
    font-size: 2*rem
  H3
    font-size: 1.5*rem

OL
  counter-reset: list

LI
  list-style-type: none

  & LI
    padding-left: 1.5*rem

LI:before,
LI:before
  content: "— "
  position: absolute
  display: inline-block
  width: 1.5*rem
  margin-left: -1.5*rem
  text-align: right

OL > LI
  counter-increment: list

OL > LI:before
  content: counter(list) ". "

code,
pre,
kbd
  font-family: Monaco, Consolas, monospace
  font-size: 0.87em


.figure
  padding: .3em !important
  margin: 0 0 0 -.3em

  background: rgba(0,0,0,0.1)

  border-radius: 3px
  box-shadow: 0 0 0 1px rgba(0,0,0,.2)

.dabblet
  position: relative

  overflow: hidden

  margin: 1.5em auto
  box-sizing: border-box

.dabblet__frame
  display: block

  height: 26em
  padding: 0
  margin: 0
  border: 0

.dabblet__link
  position: absolute
  right: 0
  bottom: 0
  left: 0
  text-align: center

  text-shadow: none !important

  background: rgba(255,255,255,.5) !important

  border-radius: 4px 4px 0 0
  transition: bottom .2s

.dabblet:not(:hover) .dabblet__link
  bottom: -2em
  transition: bottom .2s 1s


.languages
  position: absolute
  top: -0.1em
  right: 0.6em
  padding: 0

