.clearfix:before,
.isle:before,
.clearfix:after,
.isle:after {
  content: " ";
  display: table;
}
.clearfix:after,
.isle:after {
  clear: both;
}
.isle {
  padding: 28px;
}
.isle_s {
  padding: 14px;
}
.isle_l {
  padding: 56px;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
body {
  position: relative;
  z-index: 1;
  min-width: 30em;
  height: 100%;
  padding: 0 32px;
  margin: 0;
  font: 22px /32px Cent21, Georgia, serif;
  color: rgba(0,0,0,0.8);
  text-shadow: 0 1px #fff;
  background: #f8f8f8;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
body:before,
body:after {
  content: "";
  display: table;
}
.section {
  position: relative;
  width: 37em;
  max-width: 100%;
  margin: 0 auto;
}
A {
  padding: 0.25em 0;
  cursor: pointer;
  color: #0883c9;
  text-decoration: none;
}
A:hover {
  color: #0883c9;
  text-shadow: -1px 0 #f8f8f8, 1px 0 #f8f8f8, -2px -1px #f8f8f8, 2px -1px #f8f8f8, 0 -1px #f8f8f8, 0 -2px #f8f8f8, 0 -3px #f8f8f8, 0 -4px #f8f8f8, 0 -5px #f8f8f8, 0 -6px #f8f8f8;
  background: linear-gradient(#0883c9, #0883c9) repeat-x;
  background-size: 1px 1px;
  background-position: -9px 1.3em;
}
.gap_narrow {
  text-shadow: -1px 0 #f8f8f8, 1px 0 #f8f8f8, -2px 0 #f8f8f8, 2px 0 #f8f8f8, -3px 0 #f8f8f8, 3px 0 #f8f8f8;
}
::selection {
  text-shadow: none !important;
  background: #b1d2fb;
}
.link_wrapper {
  white-space: nowrap;
}
.link_wrapper .ico {
  margin-top: -4px;
  vertical-align: middle;
}
.link_wrapper:hover {
  background-repeat: no-repeat;
}
.link_wrapper:hover .link__inner {
  padding: inherit;
  background: inherit;
  background-repeat: repeat-x;
}
.link_pseudo,
.link_pseudo.link_wrapper .link__inner {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.link_pseudo.link_wrapper {
  border-bottom: 0;
}
.link_text {
  color: inherit;
}
.copy {
  font-size: 18px;
  color: rgba(0,0,0,0.5);
}
P,
UL,
OL,
DL,
BLOCKQUOTE,
HR,
CODE,
PRE,
TABLE {
  padding: 0;
  margin: 0 0 32px;
}
LI,
LI > P {
  padding: 0;
  margin: 0 0 16px;
}
H1,
H2,
H3,
H4,
H5,
H6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
H1 {
  position: relative;
  font-size: 80px;
  line-height: 96px;
  padding-top: 16px;
  margin-left: -0.075em;
}
H2 {
  position: relative;
  font-size: 64px;
  line-height: 80px;
  margin-left: -0.05em;
}
H1 A:not(:hover),
H2 A:not(:hover) {
  color: #aaa;
}
H3,
H1.title {
  font-size: 48px;
  line-height: 64px;
  padding-top: 16px;
  padding-bottom: 16px;
}
H4,
H5,
H6 {
  font-size: 32px;
  line-height: 32px;
  padding-bottom: 16px;
}
UL > LI {
  list-style-type: none;
}
UL > LI:before {
  content: "— ";
  display: inline-block;
  width: 2em;
  margin-left: -2em;
  text-align: right;
}
.figure {
  padding: 0.3em !important;
  margin: 0 0 0 -0.3em;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.dabblet {
  position: relative;
  overflow: hidden;
  margin: 1.5em auto;
  box-sizing: border-box;
}
.dabblet__frame {
  display: block;
  height: 26em;
  padding: 0;
  margin: 0;
  border: 0;
}
.dabblet__link {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  text-shadow: none !important;
  background: rgba(255,255,255,0.5) !important;
  border-radius: 4px 4px 0 0;
  transition: bottom 0.2s;
}
.dabblet:not(:hover) .dabblet__link {
  bottom: -2em;
  transition: bottom 0.2s 1s;
}
