.clearfix /**/ {
  zoom: 1;
}
.isle {
  padding: 28px;
  zoom: 1;
}
.isle_s {
  padding: 14px;
}
.isle_l {
  padding: 56px;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
body {
  position: relative;
  z-index: 1;
  min-width: 30em;
  height: 100%;
  padding: 0 36px;
  margin: 0;
  font: 23px /36px Georgia, serif;
  color: rgba(37,34,14,0.92);
  background: #fbfaf4;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
body:before,
body:after {
  content: "";
  display: table;
}
.section {
  width: 37em;
  max-width: 100%;
  margin: 0 auto;
}
footer.section {
  padding-bottom: 36px;
}
A {
  padding: 0.3em 0 0.287em;
  cursor: pointer;
  color: #0883c9;
  text-decoration: none;
}
A:hover {
  color: #0883c9;
  background: -webkit-linear-gradient(#0883c9, #0883c9 1px, transparent 1px) repeat-x;
  background: -moz-linear-gradient(#0883c9, #0883c9 1px, transparent 1px) repeat-x;
  background: -o-linear-gradient(#0883c9, #0883c9 1px, transparent 1px) repeat-x;
  background: -ms-linear-gradient(#0883c9, #0883c9 1px, transparent 1px) repeat-x;
  background: linear-gradient(#0883c9, #0883c9 1px, transparent 1px) repeat-x;
  background-position: -9px 100%;
}
::selection {
  background: #b1d2fb;
}
.link_wrapper {
  white-space: nowrap;
}
.link_wrapper .ico {
  margin-top: -4px;
  vertical-align: middle;
}
.link_wrapper:hover {
  background-repeat: no-repeat;
}
.link_wrapper:hover .link__inner {
  padding: inherit;
  background: inherit;
  background-repeat: repeat-x;
}
.link_pseudo,
.link_pseudo.link_wrapper .link__inner {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.link_pseudo.link_wrapper {
  border-bottom: 0;
}
.link_text {
  color: inherit;
}
.copy {
  font-size: 18px;
  color: rgba(37,34,14,0.62);
}
P,
UL,
OL,
DL,
BLOCKQUOTE,
HR,
CODE,
PRE,
TABLE {
  padding: 0;
  margin: 0 0 36px;
}
LI,
LI > P {
  padding: 0;
  margin: 0 0 18px;
}
H1,
H2,
H3,
H4,
H5,
H6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
H1 {
  position: relative;
  font-size: 72px;
  line-height: 90px;
  padding-top: 18px;
  margin-left: -0.075em;
}
H2,
H1.title {
  position: relative;
  font-size: 54px;
  line-height: 72px;
  margin-left: -0.05em;
}
H1 A:not(:hover),
H2 A:not(:hover) {
  color: rgba(37,34,14,0.48);
}
H3 {
  font-size: 36px;
  line-height: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
}
H4,
H5,
H6 {
  font-size: 27px;
  line-height: 36px;
  padding-bottom: 18px;
}
UL > LI {
  list-style-type: none;
}
UL > LI:before {
  content: "— ";
  position: absolute;
  display: inline;
  zoom: 1;
  width: 2em;
  margin-left: -2em;
  text-align: right;
}
code,
pre,
kbd {
  font-family: Monaco, Consolas, monospace;
  font-size: 0.9em;
}
.figure {
  padding: 0.3em !important;
  margin: 0 0 0 -0.3em;
  background: rgba(0,0,0,0.1);
}
.dabblet {
  position: relative;
  overflow: hidden;
  margin: 1.5em auto;
}
.dabblet__frame {
  display: block;
  height: 26em;
  padding: 0;
  margin: 0;
  border: 0;
}
.dabblet__link {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(255,255,255,0.5) !important;
}
.dabblet:not(:hover) .dabblet__link {
  bottom: -2em;
}
.languages {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}
