{{- range .Translations -}}{{- if eq .Params.lang .Lang -}}
  <aside style="--align: center">
    {{- i18n "diffLangVersion" -}}: <br/>
    <a href="{{ .Permalink }}" style="--underline: 0;">
      {{- i18n "lquoDiffLang" -}}
      <span style="--underline: 1;">{{ .Title }}</span>
      {{- i18n "rquoDiffLang" -}}
    </a>
  </aside>
{{- end -}}{{- end -}}

{{- if eq .Page.Params.draft true -}}
  <p class="Warning"><strong>{{- i18n "draftWarning" -}}</strong></p>
{{- end -}}

{{- if .Params.summary -}}
  <p class="Summary{{ if eq (substr .Params.summary 1 1) (" ") }} with-space-after{{ end }}" style="--view-name: {{ .Title | replaceRE "[^A-Za-z]+" "" }}-summary" data-fletter="{{ substr .Params.summary 0 1 }}">{{ .Params.summary | markdownify }}</p>
{{- end -}}

{{- if .Params.warning -}}
  <p class="Warning"><strong>{{ .Params.warning | markdownify }}</strong></p>
{{- end -}}

{{ .TableOfContents | replaceRE "<nav([^>]*)>\\s*<ul>\\s*<li>([\\s\\S]+)</li>\\s*</ul>\\s*</nav>" "<nav$1><div class='ToC-Content'><h2 class='ToC-Header'>Table of Contents</h2><ul><li>$2</li></ul></div></nav>" | replaceRE "<nav " "<nav class='ToC' " | replaceRE "(</a>\\s*)<ul>" "$1<ul class='ToC-UL ToC-UL_nested'>" | replaceRE "<ul>" "<ul class='ToC-UL'>" | replaceRE "<li" "<li class='ToC-LI'" | replaceRE "<a([^>]+)>" "<a class='ToC-Link'$1><span>" | replaceRE "</a>" "</span></a>" | safeHTML }}

{{- partial "handleContent.html" (dict "context" . "input" .Content) -}}

<hr />
{{- if .Params.mastodon_post_id -}}
<mastodon-post-info>
  <p style="font: var(--THEME_FONT--SMALL); text-align: right;">
    <a href="https://front-end.social/@kizu/{{ echoParam .Params "mastodon_post_id" }}">{{- i18n "mastodon_reply" }}</a>
  </p>
</mastodon-post-info>
{{- else -}}
<p style="font: var(--THEME_FONT--SMALL); text-align: right;">
  <a href="https://front-end.social/@kizu">{{- i18n "mastodon_reply" }}</a>
</p>
{{- end -}}

{{- if eq .Params.type "post" -}}
    <p class="Metadata Published">
      {{- if eq .Page.Params.draft true -}}
        {{- i18n "draft" }}
      {{- else -}}
        {{- i18n "published" }} {{ partial "readableDate.html" . }}
      {{- end -}}
      {{ partial "taglist.html" . }}
    </p>
{{- end -}}

{{- if .Params.thanks_to -}}
  {{- $thanks := "" -}}
  {{- if eq (printf "%T" .Params.thanks_to) "string" -}}
    {{- $thanks = .Params.thanks_to -}}
  {{- else -}}
    {{- $thanks = echoParam .Params.thanks_to .Params.lang -}}
  {{- end -}}

  {{- if and $thanks (ne $thanks "") -}}
    <p class="Metadata Thanks">{{ i18n "thanksTo" }} {{ partial "handleContent.html" (dict "context" . "input" (markdownify $thanks)) }}.</p>
  {{- end -}}
{{- end -}}

{{- if .Params.warning -}}
  <p class="Warning"><strong>{{ .Params.warning | markdownify }}</strong></p>
{{- end -}}

{{- if eq .Page.Params.draft true -}}
  <p class="Warning"><strong>{{- i18n "draftWarning" -}}</strong></p>
{{- end -}}
