.Demo
  position: relative

  overflow: hidden

  margin-top: $size.base
  box-sizing: border-box

  &_injected
    text-align: left
    overflow: visible

  &-Frame
    display: block

    height: 26em
    padding: 0
    margin: 0
    border: 0

  &_seamless
    & > *
      margin-top: 0

  &-Link
    position: absolute
    right: 0
    bottom: 0
    left: 0
    text-align: center

    text-shadow: none !important

    background: rgba(255,255,255,.5) !important

    border-radius: 4px 4px 0 0
    transition: bottom .2s

  &:not(:hover) &-Link
    bottom: -2em
    transition: bottom .2s 1s



  &-Toggle,
  &-Misc
    position: absolute
    clip: rect(1px, 1px, 1px, 1px)

  &-Toggler
    visibility: hidden
    font-size: 1*$size.base

    &-Item
      visibility: visible
      cursor: pointer
      margin-right: 0.5em
      background-size: 1px 0.47em

  &-Screenshot
    cursor: default

  &-Toggle:checked + & > &-Content,
  &-Screenshot
    display: none

  &-Content,
  &-Toggle:checked + & > &-Screenshot
    display: block

  &-Toggle:checked + & > &-Toggler > &-Toggler-Checked,
  &-Toggle:not(:checked) + & > &-Toggler > &-Toggler-Unchecked
    cursor: default
    pointer-events: none
    color: rgba($color.dark, 0.5)
