/* ================= *\
   Theming constants
\* ================= */

/*
  1. `18px`, but would be affected by browser font-size change.
  2. Uses extra families after `serif` to enable better symbols absent in default `serif`.
*/
:root {
  /* Sizes & fonts */
  --THEME_ROOT_FONT_SIZE: 112.5%; /* [1] */

  --THEME_INDENT: 2rem;

  --THEME_FONT_SIZE: calc(1rem + 5px);
  --THEME_FONT_SIZE--SMALL: calc(1rem - 2px);
  --THEME_FONT_SIZE--CODE: calc(1rem + 2px);

  --THEME_LINE_HEIGHT: 2rem;
  --THEME_LINE_HEIGHT--SMALL: 1.5em;

  --THEME_FONT_FAMILY: '21Cent-Regular', Georgia, serif, Helvetica Neue, Arial; /* [2] */
  --THEME_FONT_FAMILY--SMALL: Helvetica Neue, Arial, sans-serif;

  /* Same for every theme? Should be moved somewhere? */
  --THEME_FONT:
    var(--THEME_FONT_SIZE)/var(--THEME_LINE_HEIGHT)
    var(--THEME_FONT_FAMILY);

  --THEME_FONT--SMALL:
    var(--THEME_FONT_SIZE--SMALL)/var(--THEME_LINE_HEIGHT--SMALL)
    var(--THEME_FONT_FAMILY--SMALL);

  /* Colors */
  --THEME_BG: hsl(135, 40%, 98%);
  --THEME_BG--DISTANT: hsl(120, 12%, 94%);
  --THEME_LINK: hsl(202, 92%, 42%);
  --THEME_VISITED: hsl(270, 35%, 55%);
  --THEME_TEXT_SHADOW: 0 1px #FFF;
  --THEME_SELECTION: #B1D2FB;
  --THEME_COLOR_H: 52;
  --THEME_COLOR_S: 45;
  --THEME_COLOR_L: 10;
  --THEME_COLOR_A: 0.92;
  --THEME_COLOR_A--MISC: 0.62;

  /* UNUSED */
  --THEME_COLOR_A--DISTANT: 0.48;
  --THEME_MAIN_SHADOW:
    inset 0 1px 0 rgba(255,255,255,.9),
    0 0 0 1px rgba(37,34,14,.05),
    0 0 40px -5px rgba(37,34,14,.3);
}
