/* ======================== *\
   All the CSS for kizu.dev
\* ======================== */

@import url("_fonts.css");
@import url("_prism.css");

@import url("_fallback.css");
@import url("_print.css");

/* Top level batch supports lock */
@supports (--var:iables) {

@import url("_config.css");
@import url("_theme.css");
@import url("_utility.css");
@import url("components/color-components.css");

@import url("components/articlelist.css");
@import url("components/anchor.css");
@import url("components/asides.css");
@import url("components/button.css");
@import url("components/code.css");
@import url("components/figure.css");
@import url("components/layout.css");
@import url("components/lists.css");
@import url("components/metadata.css");
@import url("components/search.css");
@import url("components/sidenotes.css");
@import url("components/summary.css");
@import url("components/table-of-contents.css");
@import url("components/taglist.css");
@import url("components/firstletters.css");
@import url("components/links.css");
@import url("components/wireframe.css");
@import url("components/warning.css");

html {
  overflow-y: scroll;
  font-size: var(--THEME_ROOT_FONT_SIZE);
  background: var(--THEME_BG);

  /* Should be tested in IE/Edge */
  /* There were problems, but with a variable it could be ok? */
  text-shadow: var(--THEME_TEXT_SHADOW);
  color: var(--color);
}

/* Typography basics, kinda reset stuff? */
html {
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* TODO: replace home pages' one with a special case */
.Page_type_home {
  --h1-font-weight: normal;
  --h1-margin-bottom: 2rem;
}

body {
  /* is it used anywhere else? */
  min-width: 26rem;

  /* Reset */
  padding: 0;
  margin: 0;

  /* Should this be a part of utility definition? */
  font: var(--THEME_FONT);
}

.Root {
  /* Default context */
  position: relative;
  z-index: 1;

  /* Default flex layout */
  display: flex;
  flex-direction: column;

  /* For subgrid substitute */
  counter-reset: var(--asides-counter) var(--sidenote-counters);
}

body::before {
  display: none;
}

article {
  --search-margin: 0;
}

header {
  /* For subgrid substitute */
  order: calc(-2 + var(--invisible, 0));

  /* FIXME: use utility */
  text-align: center;

  /* Utility usage */
  --h1-font-size: 3.5rem;
  --h1-font-weight: normal;
}

footer {
  display: var(--footer-display, grid);
  margin-top: var(--footer-margin-top, 2rem);
  margin-bottom: var(--footer-margin-bottom, 2rem);
  --text-indent: 0;
}

nav {
  grid-column: content;
  --ul-display: grid;
  --ul-item-content: none;
  --list-item-padding: 0;
  --link-color: var(--color);
  --link-color--visited: var(--color);
  --link-underline-offset: 0.4em;
  font-size: var(--THEME_FONT_SIZE--SMALL);
  --ul-grid:
    "full full"
    "start end";
  --li-justify-self: start;
  --li-justify-self-even: end;
  --grid-column: auto;

  overflow: hidden;
  max-height: calc(0px * var(--invisible));
  padding: calc(var(--nav-padding, 1rem) * (1 - var(--invisible, 0)));
  margin: calc(var(--nav-margin, -1rem) * (1 - var(--invisible, 0)));
  opacity: calc(0 * var(--invisible));
}

time {
  color: var(--color);
  --color-a: var(--time-color-a, 0.75);
}

img {
  max-width: var(--img-max-width, 100%);
  border: none;
  display: var(--img-display, inline-block);
  margin: var(--img-margin, 0);
}

img:only-child {
  --img-display: block;
  --img-margin: 1rem auto;
}

strong, b {
  font-style: normal; /* I don't load the bold italic font. */
  font-weight: var(--strong-font-weight, bold);
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin-top: var(--heading-margin-top, 2rem);
  margin-bottom: var(--heading-margin-bottom, 1rem);
  text-align: center;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 900;
  --strong-font-weight: 900;
  text-wrap: balance;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  --anchor-active: 1;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
}

h1 {
  font-size: var(--h1-font-size, calc(3rem - 0.5rem * var(--at-small)));
  font-weight: var(--h1-font-weight, 900);
  line-height: var(--h1-line-height, 1em);
  margin-top: var(--h1-margin-top, 3rem);
  margin-bottom: var(--h1-margin-bottom, 3rem);
  -webkit-hyphens: var(--initial-at-large, none);
  hyphens: var(--initial-at-large, none);
}

h2 {
  font-size: var(--h2-font-size, 2rem);
  line-height: var(--h2-line-height, 1em);
  margin-top: var(--h2-margin-top, var(--heading-margin-top, 2rem));
  margin-bottom: var(--h2-margin-bottom, var(--heading-margin-bottom, 1rem));
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

hr {
  visibility: hidden;
}

iframe {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

p {
  margin: 0;
  margin-top: var(--p-margin-top);
  text-indent: calc(var(--p-text-indent) * var(--at-large));
}

p:empty {
  display: none;
}

/* The only case when we don't need an indent is after headers */
/* TODO: Do we need this only for _en? */
:not(h1, h2, h3, h4, h5, h6, .Summary, .Warning, ul, ol, aside) + p,
:not(h1, h2, h3, h4, h5, h6, .Summary, .Warning, ul, ol) + aside + p {
  --p-text-indent: var(--text-indent);
  --p-margin-top: var(--p-p-margin-top, calc(1rem * var(--at-small)));
}

em {
  font-style: var(--em-font-style, italic);
  font-size: var(--em-font-size);
  font-weight: var(--em-font-weight);
}


blockquote {
  padding: 0 var(--THEME_INDENT);
  margin: 1rem 0;
  box-shadow: inset 2px 0;
  font-style: italic;
  --dl-margin: 0;
  --text-indent: 0;
  --em-font-style: normal;
  --code-font-style: normal;
}

dl {
  margin: var(--dl-margin, 1em) 0;
  font-style: normal;
  --em-font-style: italic;
  --code-font-style: italic;
}

dt {
  font-style: italic;
}

dd {
  font-style: normal;
  margin-left: var(--THEME_INDENT);
}

table {
  margin: 1rem 0;
  text-align: center;
}

mark {
  padding: 0.2em 0 0.1em;

  color: inherit;
  text-shadow: none;
  background: rgba(255, 255, 0, 0.5);
}

::selection {
  text-shadow: none !important;
  background-color: var(--THEME_SELECTION, #B1D2FB);
}

/* Inspired by https://kennethormandy.com/list/2022-11-25/ 
   Though, is not used yet, as I need to find a way to apply this properly to the headers.
*/
.nbsp {
  display: var(--initial-at-large, inline-block);
}

/* End of the top level `@supports` */
}
