.Filter
  &-Target
    position: fixed
    top: 0
    visibility: hidden
    clip: rect(1px,1px,1px,1px)

  &-Nav
    display: inline-flex

    padding: 0
    border: 1px solid $color.misc
    margin: ($size.base - 4px) -1px ($size.base - 1px)
    border-radius: 9em

    text-align: left

    &-Link
      display: block

      padding: 3px $size.base 0

      color: $color.link !important
      text-shadow: none !important
      background: none !important

      &:hover
        background: $color.distant !important

      ../-Item:first-child > &
        padding-left: 2*$size.base
        border-radius: @border-radius 0 0 @border-radius

      ../-Item:last-child > &
        padding-right: 2*$size.base
        border-radius: 0 @border-radius @border-radius 0

    &-Item
      display: inline-block

      padding: 0
      margin: 0

      &:before
        content: ""

  &-Target:target ~ &-Content > &-Item
    display: none

  for $i in 1..6
    &-Target:nth-child({$i}):target ~ &-Nav > &-Nav-Item:nth-child({$i + 1}) > &-Nav-Link
      pointer-events: none

      color: $color.misc !important
      background: $color.distant !important

  &-Nav-Item_everything > &-Nav-Link
    pointer-events: none

    color: $color.misc !important
    background: $color.distant !important

    ^[0]-Target:target ~ ^[0]-Nav > &
      pointer-events: all

      color: $color.link !important

      &:not(:hover)
        background: none !important

  $categories = site.categories
  $selector = ()
  for $category in $categories
    push($selector, '.Filter-Target[id=%s]:target ~ .Filter-Content > .Filter-Item_category_%s' % ($category unquote($category)))
  $selector = join(', ', $selector)
  {$selector}
    display: block
