code,
pre,
kbd
  font-family: Monaco, Consolas, monospace, monospace // FIXME: Do we still need double monospace?
  font-size: 0.87em // FIXME: how is that calculated?

pre > code
  font-size: 1em

pre
  position: relative
  left: -1*$size.base

  overflow: hidden

  // FIXME: Add ws:pre and scrollbars on small sizes?
  // overflow-x: auto

li pre
  left: 0

p code
  line-height: 1

pre > code
  display: inline-block
  vertical-align: top

  padding: 0.5*$size.base 1*$size.base
  margin-bottom: 0

  // FIXME: find out better way to visualize code blocks
  // background: rgba($color.dark, 0.03)
  // box-shadow: inset 0 0 0 1px rgba($color.dark, 0.1)
