@require 'typography'

code,
pre,
kbd
  font-feature-settings: "lnum", "onum" 0

h1,
h2,
h3,
h4,
h5,
h6
  code,
  kbd
    // Faux bold, yeah, but better than nothing
    font-weight: bold

pre,
pre > code
  font-family: Monaco, Consolas, monospace, monospace // FIXME: Do we still need double monospace?
  font-size: $size.codetext
  line-height: 1

pre
  position: relative

  overflow: hidden

  padding: $size.base 0

  text-align: left

  background: rgba($color.white, 0.8) // Or rgba($color.text, 0.05)?
  border-radius: 2px

  // FIXME: Add ws:pre and scrollbars on small sizes?
  // overflow-x: auto

pre > code
  display: inline-block
  vertical-align: top

  padding: 0 0 0 $size.indent
  margin-top: 0

  // Restoring the nested code
  font-size: 1em
  line-height: 1.5*$size.base
