code,
pre,
kbd
  font-family: Monaco, Consolas, monospace, monospace // FIXME: Do we still need double monospace?
  font-size: $size.codetext
  line-height: 1

// Restoring the nested code
pre > code
  font-size: 1em
  line-height: 2*$size.base

pre
  position: relative

  overflow: hidden

  // FIXME: Add ws:pre and scrollbars on small sizes?
  // overflow-x: auto

p code
  line-height: 1

pre > code
  display: inline-block
  vertical-align: top

  padding: 0
  margin-bottom: 0

  // FIXME: find out better way to visualize code blocks
  // background: rgba($color.dark, 0.03)
  // box-shadow: inset 0 0 0 1px rgba($color.dark, 0.1)
