@media print
  @page
    size: auto
    // margin: 1.5*$size.base 0 // For now would just remove headers and footers at print step
    padding-top: 100px

  html
    min-width: 1100px

    &.without-sidebar
      min-width: 900px

  img
    // Making the illustrations to blend into bg
    // Contrast should be calculatable from the given color and bg
    filter: grayscale(100%) contrast(104%)

  *
    background: transparent !important
    color: #000 !important
    box-shadow: none !important
    text-shadow: none !important
    overflow: visible !important

  // Maybe add a generic class for hiding those things?
  .Page-Languages,
  .Page-Copy > .Link:last-child,
  footer,
  .Feedback,
  .PrevNext,
  .Anchor
    display: none !important

  .Page-Header,
  .Page-Footer
    position: absolute !important

  .Main p
    text-align: justify !important

  .Main a[href]
    text-decoration: underline !important

.only-print
  display: none !important