p,
ul,
ol,
dl,
blockquote,
hr,
code,
pre,
table
  padding: 0
  margin: 2*$size.base 0 0

li,
li > p
  padding: 0
  margin: $size.base 0 0

p
  text-indent: $size.indent

  & > *,
  li > &:first-child
    text-indent: 0

  & + &
    margin-top: 0

.Page-Title,
.Heading
  margin: 2*$size.base $size.indent 0

  line-height: 1
  word-wrap: break-word

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  & > .hanger:first-child
    position: absolute

    width: 1.5em
    margin-left: -1.5em

    text-align: right

  .Page_en & + p,
  /.Page_en p:first-of-type
    text-indent: 0

h1
  position: relative

  text-align: center

  font-size: 3.5*$size.base

  .Main &
    font-size: 3*$size.base

h2
  position: relative
  font-size: 2*$size.base
  line-height: 2*$size.base
  padding-bottom: 1*$size.base

h3
  font-size: 1.5*$size.base
  line-height: 2*$size.base

  padding-bottom: 1*$size.base

h4,
h5,
h6
  font-size: 1*$size.base
  padding-bottom: 1*$size.base

ol
  counter-reset: list

li
  padding-left: $size.indent

  text-align: left
  list-style-type: none // Fixme: screenreaders would die out?

  &:before
    content: "— "

    position: absolute

    width: $size.indent
    margin-left: -1*$size.indent

    text-align: left

  ol > &
    counter-increment: list

    &:before
      content: counter(list) ". "
      font-feature-settings: "lnum", "onum" 0

blockquote
  position: relative
  left: -1px

  padding-left: 1em
  padding-left: 2.5vw
  border-left: 1px solid rgba($color.dark, 0.5)
  box-shadow: inset 1px 0 0 rgba($color.dark, 0.5)
  margin-left: -1em
  margin-left: -2.5vw

  text-align: left

  & em
    font-family: $font.regular

  & p
    text-indent: 0
    margin-top: 2*$size.base

    &:first-child
      margin-top: 0


.Heading:not(h1) + *
  margin-top: 0 !important


// Classes for hanging blocks
.hang-xs
  margin-left: -0.05em

.hang-s
  margin-left: -0.1em

.hang-m
  margin-left: -0.15em

.hang-l
  margin-left: -0.2em

.hang-quote
  margin-left: -0.6em

// Should I just use whole utility-opentype there?
.ss01 { -webkit-font-feature-settings: "ss01"; font-feature-settings: "ss01" }
.ss02 { -webkit-font-feature-settings: "ss02"; font-feature-settings: "ss02" }
.ss03 { -webkit-font-feature-settings: "ss03"; font-feature-settings: "ss03" }
.ss04 { -webkit-font-feature-settings: "ss04"; font-feature-settings: "ss04" }
.ss05 { -webkit-font-feature-settings: "ss05"; font-feature-settings: "ss05" }
.ss06 { -webkit-font-feature-settings: "ss06"; font-feature-settings: "ss06" }
.ss07 { -webkit-font-feature-settings: "ss07"; font-feature-settings: "ss07" }
.ss08 { -webkit-font-feature-settings: "ss08"; font-feature-settings: "ss08" }
.ss09 { -webkit-font-feature-settings: "ss09"; font-feature-settings: "ss09" }
.ss10 { -webkit-font-feature-settings: "ss10"; font-feature-settings: "ss10" }

.shy
  font-family: '21Cent-Regular_hyphen', Georgia, serif

  &:after
    content: "\AD"

    @supports (-webkit-appearance: none)
      &
        content: "\AD\2062"


.Anchor
  display: inline-block

  width: 0
  padding-top: 0
  padding-right: 1em
  margin: -0.5em 0 -0.5em -1em

  text-shadow: none

  line-height: 1

  opacity: 0
  transform: translate(100%, 0)
  transition: opacity 0.3s 1s, transform 0.3s 1s

  h1 > &
    display: none

  *:hover > &
    text-shadow: none
    background-repeat: no-repeat
    background-size: 0.6em 0.45em
    background-position: 0 100%

    opacity: 1
    transform: translate(0, 0)
    transition: opacity 0.3s 0.3s, transform 0.3s 0.3s

  &:before
    content: "#"
    font-feature-settings: "smcp"
