font-license()
  unquote("/*!
 * @license
 * MyFonts Webfont Build ID 3174193, 2016-02-19T13:38:45-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: 21Cent-Bold by Letterhead Studio-YG
 * URL: http://www.myfonts.com/fonts/letterheadrussia/21-cent/bold/
 * Copyright: Copyright (c) 2009 by Letterhead Studio. All rights reserved.
 * Licensed pageviews: 100,000
 *
 * Webfont: 21Cent-Italic by Letterhead Studio-YG
 * URL: http://www.myfonts.com/fonts/letterheadrussia/21-cent/italic/
 * Copyright: Copyright (c) 2009 by Letterhead Studio. All rights reserved.
 * Licensed pageviews: 100,000
 *
 * Webfont: 21Cent-Black by Letterhead Studio-YG
 * URL: http://www.myfonts.com/fonts/letterheadrussia/21-cent/black/
 * Copyright: Copyright (c) 2010by Letterhead Studio. All rights reserved.
 * Licensed pageviews: 10,000
 *
 * Webfont: 21Cent by Letterhead Studio-YG
 * URL: http://www.myfonts.com/fonts/letterheadrussia/21-cent/regular/
 * Copyright: Copyright (c) 2011 by Letterhead Studio. All rights reserved.
 * Licensed pageviews: 100,000
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3174193
 *
 * © 2016 MyFonts Inc
*/")


add-font($name, $selector = null, $encoding = 'woff')
  @font-face
    font-family: $name
    font-weight: normal
    font-style: normal
    src: embedurl($name + '.' + $encoding) format($encoding)

  if $selector
    {$selector}
      font-family: $name, Georgia, serif
      font-style: normal
      font-weight: normal
