@require 'add-font'

font-license()

/* Regular font is moved to the generic stylesheet to appear faster. */
/* The counter is used only in the regular stylesheet too */

add-font('21Cent-Bold', 'strong, b', 'woff2')

add-font('21Cent-Italic', 'em, i, .Metadata, blockquote, code, kbd', 'woff2')

add-font('21Cent-Black', '.Page-Content h1, h2, h3, h4, h5, h6', 'woff2')
