{{ define "main" }}
  {{- partial "handleContent.html" (dict "context" . "input" .Content) -}}
  <ul>
  <!-- Ranges through content/post/*.md -->
  {{ range .Data.Pages }}
      {{ if and (.Title) (eq .Site.Params.languageCode .Params.lang) }}
          <li>
              <a href="{{.Permalink}}">
                  {{ if .Params.published }}
                      {{.Params.published}}
                  {{ else }}
                    {{ partial "readableDate.html" . }}
                  {{ end }}
                  | {{.Title}} | {{.Params.summary}}
              </a>
          </li>
      {{ end }}
  {{ end }}
  </ul>
{{ end }}
