{{ define "main" }}
<article>
  {{- partial "handleContent.html" (dict "context" . "input" .Content) -}}
</article>
<ul>
<!-- Ranges through content/post/*.md -->
{{ range .Data.Pages }}
    {{ if and (.Title) (eq .Site.Params.languageCode .Params.lang) }}
        <li>
            <a href="{{.Permalink}}">
                {{ if .Params.published }}
                    {{.Params.published}}
                {{ else }}
                    {{.Date.Format "2006-01-02"}}
                {{ end }}
                | {{.Title}}
            </a>
        </li>
    {{ end }}
{{ end }}
</ul>
{{ end }}
