// # Main: content block
.Main
  cursor: text

  font-feature-settings: "lnum" 0, "onum"

  // Aligning stuff properly
  // TODO: Move to mixin/extend
  & > *,
  & > .Demo_seamless
    box-sizing: border-box
    width: $size.content
    max-width: 100%
    margin-left: auto
    margin-right: auto

  & p
    text-align: justify

  // Better table
  & > table
    display: inline-block

  // ???
  & header h1
    padding-bottom: 2.5*$size.base
