// ## Debug stuff
.debug
  display: none

  box-sizing: border-box
  width: 100%
  padding: 1em 2em
  border: 2px solid

  & > * > tr > th,
  & > * > tr > td
    text-align: left

.Page-Title
  // DEBUG
  opacity: 0
