unquote("/* @license
 * MyFonts Webfont Build ID 2438224, 2012-12-27T18:06:52-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: 21 Cent-Bold by Letterhead Studio-YG
 * URL: http://www.myfonts.com/fonts/letterheadrussia/21-cent/bold/
 *
 * Webfont: 21 Cent by Letterhead Studio-YG
 * URL: http://www.myfonts.com/fonts/letterheadrussia/21-cent/regular/
 *
 * Webfont: 21 Cent Italic by Letterhead Studio-YG
 * URL: http://www.myfonts.com/fonts/letterheadrussia/21-cent/italic/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2438224
 * Webfonts copyright: Copyright (c) 2009 by Letterhead Studio. All rights reserved.
 *
 * © 2012 Bitstream Inc
*/")


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/253450");

@font-face {
    font-family: 'Cent-Regular21';
    font-weight: normal;
    font-style: normal;
    src: embedurl('fonts/Cent-Regular21-Full.woff') format('woff');
}

@font-face {
    font-family: 'Cent-Regular21-HangingHyphen';
    font-weight: normal;
    font-style: normal;
    src: embedurl('fonts/Cent-Regular21-HangingHyphen.woff') format('woff');
}

/* Bold and italic fonts are lazyloaded from the end of the body by script, so the page would load faster */
