---
layout: layout
---
	{% capture setup %}{% include setup.md %}{% endcapture %}
	<header class="header">
		<h1 class="title">
			{% if page.page_type != "index" %}<a href="/{{ lang_prefix }}">{% endif %}{{ site.loc.name | map: lang }}{% if page.page_type != "index" %}</a>{% endif %}
			<sup>{% unless page.url contains "/issues/restart" %}<a class="link link_wrapper" href="/{{ lang_prefix }}issues/restart/">{% endunless %}β{% unless page.url contains "/issues/restart" %}</a>{% endunless %}</sup>
		</h1>
	</header>

	{{ content }}

	<footer class="footer">
		<p class="copy">
			{% if page.page_type != "index" %}<a class="link  link_text  link_wrapper" href="http://kizu.ru/{{ lang_prefix }}">
				© {{ site.time | date: "%Y" }}
				<span class="link__inner">{{ site.loc.name | map: lang }}</span>.
			</a>{% else %}© {{ site.time | date: "%Y" }} {{ site.loc.name | map: lang }}.{% endif %}
			<a class="link  link_wrapper  link_twitter" href="https://twitter.com/{{ site.loc.twitter_name | map: lang }}">
				<img alt="Twitter" class="ico" src="http://favicon.yandex.net/favicon/twitter.com" title="Twitter"/>
				<span class="link__inner">{{ site.loc.twitter_follow | map: lang }}</span>!
			</a>
		</p>
        <nav class="prevnext">
        	{% if page.page_type == 'post' %}{% include get_prevnext.html %}{% endif %}
			{% comment %}<!-- <p class="languages">
				{% if page.categories contains 'en' %}
					<a href="{{ page.url | replace:'/en/':'/' }}">по-русски</a>
				{% else %}
					<a href="/en{{ page.url | remove:'index.html' }}">in english</a>
				{% endif %}
			</p> -->{% endcomment %}
        </nav>
	</footer>
