---
layout: layout
---

	<header class="section">
		<h1 class="title">
			{% if page.categories contains 'en' %}
				<a href="/en/">Roman Komarov</a>
			{% else %}
				<a href="/">Роман Комаров</a>
			{% endif %}
			{% if page.categories contains 'fun' %}
				—
				{% if page.categories contains 'en' %}
					Experiments
				{% else %}
					Эксперименты
				{% endif %}
			{% endif %}
		</h1>
		<nav>
			<p class="languages">
				{% if page.categories contains 'en' %}
					<a href="{{ page.url | replace:'/en/':'/' }}">ru</a>
					<strong>en</strong>
				{% else %}
					<strong>ru</strong>
					<a href="/en{{ page.url }}">en</a>
				{% endif %}
			</p>
		</nav>
	</header>

	<div role="main">
		{{ content }}
	</div>

	<footer class="section">
		<p class="copy">
			{% if page.categories contains 'en' %}
				<a class="link  link_text  link_wrapper" href="http://kizu.ru/en/">
					© {{ site.time | date: "%Y" }}
					<span class="link__inner">Roman Komarov</span>.
				</a>
				<a class="link  link_wrapper" href="https://twitter.com/kizmarh">
					<img alt="Twitter" class="ico" src="http://favicon.yandex.net/favicon/twitter.com" title="Twitter"/>
					<span class="link__inner">Follow me on twitter</span>!
				</a>
			{% else %}
				<a class="link  link_text  link_wrapper" href="http://kizu.ru/">
					© {{ site.time | date: "%Y" }}
					<span class="link__inner">Роман Комаров</span>.
				</a>
				<a class="link  link_wrapper" href="https://twitter.com/ki_zu">
					<img alt="Twitter" class="ico" src="http://favicon.yandex.net/favicon/twitter.com" title="Twitter"/>
					<span class="link__inner">Читайте меня в твиттере</span>
				</a>
			{% endif %}
		</p>
	</footer>
