---
layout: layout
---
	{% include variables.md %}
	<header class="header">
		<h1 class="title">
			<a href="/{{ lang_prefix }}">{{ site.loc.name | map: lang }}</a>
		</h1>
	</header>

	{{ content }}

	<footer class="footer">
        <nav class="prevnext">
            {% for item in site.posts %}
                {% if lang == 'en' and item.categories contains 'en' %}
                    {% assign post = item %}
                {% endif %}
                {% if lang == 'ru' %}
                    {% unless item.categories contains 'en' %}
                        {% assign post = item %}
                    {% endunless %}
                {% endif %}
                {% if post == item %}
                    {% if post_next.id == page.id %}
                        <a class="link link_wrapper link_prev" href="{{ post.url }}/#Content"><span class="link__inner">{{ post.title }}</span></a>
                    {% endif %}
                    {% if post.id == page.id %}
                        {% if post_next %}
                            <a class="link link_wrapper link_next" href="{{ post_next.url }}/#Content"><span class="link__inner">{{ post_next.title }}</span></a>
                        {% endif %}
                    {% endif %}
                    {% assign post_next = item %}
                {% endif %}
            {% endfor %}
			<p class="languages">
				{% if page.categories contains 'en' %}
					<a href="{{ page.url | replace:'/en/':'/' }}">по-русски</a>
				{% else %}
					<a href="/en{{ page.url | remove:'index.html' }}">in english</a>
				{% endif %}
			</p>
        </nav>
		<p class="copy">
			<a class="link  link_text  link_wrapper" href="http://kizu.ru/{{ lang_prefix }}">
				© {{ site.time | date: "%Y" }}
				<span class="link__inner">{{ site.loc.name | map: lang }}</span>.
			</a>
			<a class="link  link_wrapper" href="https://twitter.com/{{ site.loc.twitter_name | map: lang }}">
				<img alt="Twitter" class="ico" src="http://favicon.yandex.net/favicon/twitter.com" title="Twitter"/>
				<span class="link__inner">{{ site.loc.twitter_follow | map: lang }}</span>!
			</a>
		</p>
	</footer>
