<!DOCTYPE html>{% include variables.md %}
<html class="page page_{{ lang }} page_{{ page.page_type }}{% if category != "" %} page_{{ category }}{% endif %}">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge"/>
	<!--[if gt IE 7]><!-->
		<link rel="stylesheet" href="/s/style.css">
	<!--<![endif]--><!--[if lt IE 8]><link rel="stylesheet" href="/s/style_ie.css"><![endif]-->
    <title>{{ page.title }} — kizu.ru</title>
</head>
<body>
	{{ content }}
	<script>
/* Lazy loading the fonts */
var h = document.getElementsByTagName('head')[0];
var link = document.createElement('link');
link.href = '/s/font.css';
link.type = 'text/css';
link.rel = 'stylesheet';
h.appendChild(link);
	</script>
	{% include metrika.html %}
</body>
</html>
