---
layout: default
page_type: post
---
{% include variables.md %}
<article class="main" role="main">
    <header>
        <h1>{{ page.title }}</h1>
        <nav class="breadcrumbs">
            {% assign counter = 0 %}
            {% assign path = "" %}
            {% for item in page.categories %}
                {% if item != 'en' %}
                    {% capture counter %}{{ counter | plus:1 }}{% endcapture %}
                    {% capture path %}{{ path | append:"../" }}{% endcapture %}
                    <a href="{{ path }}">{{ site.loc | map: item | map: lang }}</a>
                {% endif %}
            {% endfor %}
        </nav>
        <p class="date">{{ page.date | date: "%d %B %Y" }}</p>
    </header>
    {{ content }}
    <aside>
        <nav>
            <ul>
                {% for item in site.posts %}
                    {% if lang == 'en' and item.categories contains 'en' %}
                        {% assign post = item %}
                    {% endif %}
                    {% if lang == 'ru' %}
                        {% unless item.categories contains 'en' %}
                            {% assign post = item %}
                        {% endunless %}
                    {% endif %}
                    {% if post == item %}
                        {% if post.id == page.id %}
                            {% if post_next %}
                                <li>Next: <a href="{{ post_next.url }}">{{ post_next.title }}</a></li>
                            {% endif %}
                        {% endif %}
                        {% if post_next.id == page.id %}
                            <li>Prev: <a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endif %}
                        {% assign post_next = item %}
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </aside>
</article>
