doctype html
html(lang=document.lang ? document.lang : false)
  head
    title ololo

  body
    - var docs = getCollection("html").toJSON()
    ul
      - for doc in docs
        li: a(href=doc.url)= doc.name


    != content
